@font-face {
  font-family: 'TimesNewRomanPSMT';
  src: url("/fonts/TimesNewRomanPSMT.ttf");
}
@font-face {
  font-family: 'Calibri';
  src: url("/fonts/Calibri.ttf");
}
@font-face {
  font-family: 'calibri';
  src: url("/fonts/Calibri.ttf");
}
@font-face {
  font-family: 'latoblack';
  src: url("/fonts/latoblack.ttf");
}
@font-face {
  font-family: 'latobold';
  src: url("/fonts/latobold.ttf");
}
@font-face {
  font-family: 'latoregular';
  src: url("/fonts/latoregular.ttf");
}
@font-face {
  font-family: 'latolight';
  src: url("/fonts/latolight.ttf");
}
* {
  font-family: latoregular;
}
body {
  display: flex;
  flex-direction: column;
}
.toPushFooter {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container {
  margin: 0 auto;
  padding: 0 15px 0 15px;
  max-width: 1030px;
  width: 100%;
}
a {
  color: #0f73b9;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.innerPage__title {
  margin-top: 40px;
  font-family: latoblack;
  font-size: 26px;
  line-height: 32px;
  color: #34546c;
}
.crumbs {
  margin-bottom: 40px;
}
.crumbs a {
  font-family: latoregular;
  font-size: 16px;
  line-height: 32px;
  color: #000;
}
.crumbs a.current {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}
.crumbs .slash {
  margin: 0 4px 0 4px;
  font-family: TimesNewRomanPSMT;
}
.crumbs .slash:before {
  display: none;
}
.slash:before {
  content: '/';
  margin: 0 5px 0 5px;
}
form.form__submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px 30px 0 30px;
  min-width: 290px;
  width: 300px;
  background: #fff;
}
form.form__submit h3 {
  margin: 13px 0 20px 0;
  font-family: latoblack;
  font-size: 23px;
  line-height: 25px;
  color: #5a7eba;
}
form.form__submit input,
form.form__submit textarea {
  margin-bottom: 17px;
  padding: 0 5px 0 40px;
  max-width: 227px;
  width: 100%;
  height: 40px;
  border: 1px solid #ababab;
  border-radius: 4px;
  font-family: latoregular;
  font-size: 16px;
  line-height: 25px;
  box-sizing: border-box;
}
form.form__submit input::placeholder,
form.form__submit textarea::placeholder {
  color: #666;
  opacity: 1;
}
form.form__submit input:-ms-input-placeholder,
form.form__submit textarea:-ms-input-placeholder {
  color: #666;
}
form.form__submit input::-ms-input-placeholder,
form.form__submit textarea::-ms-input-placeholder {
  color: #666;
}
form.form__submit .input {
  position: relative;
}
form.form__submit .input:before {
  content: '';
  position: absolute;
  top: 0;
  left: 15px;
  width: 17px;
  height: 17px;
  background: #000;
}
form.form__submit input.name,
form.form__submit input.tel {
  background: #fff url("/img/iconset-feedback1.jpg") no-repeat 12px 10px;
}
form.form__submit input.tel {
  background-position: 12px -46px;
}
form.form__submit textarea {
  padding: 5px 12px 5px 12px;
  height: 105px;
  resize: none;
}
form.form__submit .agreement {
  color: #848586;
  font-family: latoregular;
  font-size: 12px;
  line-height: 25px;
}
form.form__submit .agreement a {
  color: #848586;
}
form.form__submit .agreement label {
  padding-left: 22px;
}
form.form__submit .agreement label:before {
  top: -1px;
}
form.form__submit .agreement input:not(checked) + label:before {
  top: 4px;
  width: 15px;
  height: 15px;
  background: url("/img/icon-checkbox.png") no-repeat;
  background-size: cover;
  border-radius: 0;
}
form.form__submit .agreement input:not(checked) + label:after {
  top: 50%;
  margin-top: -6px;
  left: 5px;
  width: 3px;
  height: 6px;
  background: transparent;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  transform: rotate(45deg);
}
form.form__submit .agreement input[type='checkbox'] {
  height: 0;
}
.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 10px 76px 10px;
}
.pagination .pag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  border: 1px solid rgba(216,216,216,0.8);
}
.pagination .pag.arrow {
  padding-bottom: 3px;
  font-family: TimesNewRomanPSMT;
}
.pagination .pag:hover {
  border: 1px solid rgba(67,115,170,0.8);
}
.pagination .pag.active {
  border: 1px solid rgba(67,115,170,0.8);
}
#topmenu__burger {
  display: none;
  position: relative;
  width: 100%;
  height: 55px;
  background: rgba(67,115,170,0.4);
}
#topmenu__burger .burger {
  top: 50%;
  left: 0;
}
#topmenu__burger .burger.active i {
  background: transparent;
}
#topmenu__burger .burger i {
  background: #fff;
}
#topmenu__burger .burger i:before,
#topmenu__burger .burger i:after {
  background: #fff;
}
@media (max-width: 430px) {
  #topmenu__burger {
    position: static !important;
    display: block;
  }
}
.btn2 {
  position: relative;
  width: 103px;
  height: 35px;
  font-size: 16px;
  line-height: 35px;
  color: #fff;
  border-radius: 4px;
  background-color: #6dadda;
  cursor: pointer;
  text-transform: uppercase;
}
.btn2:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  bottom: -5px;
  width: 100%;
  height: 35px;
  background-color: #4984ad;
  border-radius: 4px;
}
.btn2:after {
  content: '';
  position: absolute;
  z-index: -2;
  left: -4px;
  right: -4px;
  top: -4px;
  bottom: -4px;
  background-color: #b3cada;
  border-radius: 4px;
}
.btn2--red {
  z-index: 0;
  padding: 0 14px 0 14px;
  width: auto;
  background: rgba(221,127,104,0.4);
}
.btn2--red:before {
  background-color: #dd7f68;
}
.btn2--red:after {
  z-index: -1;
  background: rgba(221,127,104,0.4);
}
.btn2--green {
  width: 148px;
  height: 44px;
  z-index: 0;
  background-color: #42c0c5;
}
.btn2--green:before {
  height: 100%;
  background-color: #42c0c5;
}
.btn2--green:after {
  background-color: #6197a2;
}
.btn2--shadow-down:after {
  top: 0;
  right: 0;
  left: 0;
}
.btn3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 10px;
  min-width: 113px;
  height: 27px;
  border: 1px solid #9e9e9e;
  border-radius: 4px;
  background-color: #fcf4c0;
  cursor: pointer;
}
.btn3,
.btn3 span {
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #545454;
}
.btn3--white {
  background: #fff;
}
.btn3--arrow {
  position: relative;
  padding-left: 35px;
}
.btn3--arrow:before {
  content: '';
  position: absolute;
  top: 0;
  left: 27px;
  width: 1px;
  height: 100%;
  background: #9e9e9e;
}
.btn3--arrow:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 6px;
  width: 15px;
  height: 9px;
  background: url("/img/icon-arrow2.png") no-repeat;
  transition: 0.3s;
}
.btn3--arrow.active:after {
  top: 7px;
  transform: rotate(180deg);
}
.font-red {
  color: #d76546;
}
.font-dark {
  color: #545454 !important;
}
.font-bold {
  font-weight: 600 !important;
}
.checkbox {
  display: flex;
  height: auto;
}
.checkbox--picture label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  text-align: center;
}
.checkbox--picture label:hover span.img__wrap:before {
  opacity: 1;
}
.checkbox--picture label img {
  position: relative;
  z-index: 1;
}
.checkbox--picture label span.img__wrap {
  position: relative;
  margin: auto 0 0 0;
}
.checkbox--picture label span.img__wrap:before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  margin: -41.5px 0 0 -41.5px;
  width: 83px;
  height: 83px;
  background-color: #f7e0da;
  border-radius: 100%;
  opacity: 0;
}
.checkbox--picture label span.text {
  min-height: 55px;
  margin-top: auto;
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #545454;
}
.checkbox--picture input:not(checked) + label:before,
.checkbox--picture input:not(checked) + label:after {
  display: none;
}
.checkbox--picture input:checked + label .img__wrap:before {
  background: #d76546;
  opacity: 1;
}
.checkbox--circle label {
  padding-left: 31px !important;
}
.checkbox--circle input:not(checked) + label:before {
  left: 8px;
  top: 3px;
  width: 15px;
  height: 15px;
  background: url("/img/iconset-checkbox.png") no-repeat center -20px;
  transition: none !important;
}
.checkbox--circle input:not(checked) + label:after,
.checkbox--circle input:checked + label:after {
  left: 8px;
  top: 3px;
  margin: 0;
  width: 15px;
  height: 15px;
  background: url("/img/iconset-checkbox.png") no-repeat center 0;
  transition: none !important;
}
.checkbox--circle input:not(checked) + label:after {
  opacity: 0;
}
.checkbox--circle input:checked + label:before {
  opacity: 0;
}
.tabs1 {
/*new begin*/
  margin-top: 60px;
/*new end*/
  box-shadow: -1px 1px 26px rgba(0,0,0,0.4);
  background: #fff;
}
.tabs1 .tabs__title__wrap {
  position: relative;
/*    &:before {
      content: ''
      position: absolute
      top: -41px
      right: 40px
      left: 40px
      height: 10px
      box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
    }*/
}
.tabs1 .tabs__title__wrap:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background: #fff;
}
.tabs1 .tabs__title__wrap .forshadow {
  position: absolute;
  width: 100%;
  height: 40px;
  background: #fff;
/*      &:before {
        content: ''
        position: absolute
        top: -26px
        right: 282px//11px
        width: 50px
        height: 50px
        box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
        transform: rotate(45deg)
      }*/
}
.tabs1 .tabs__title__wrap .forshadow:after {
  content: '';
  position: absolute;
  top: -27px;
  left: 16px;
  width: 50px;
  height: 50px;
  box-shadow: -1px 1px 26px rgba(0,0,0,0.4);
  transform: rotate(45deg);
}
.tabs1 .tabs__title__wrap .forshadow2 {
  position: absolute;
  top: -41px;
  right: 40px;
  left: 40px;
  height: 10px;
  box-shadow: -1px 1px 26px rgba(0,0,0,0.4);
}
.tabs1 .tabs__title__wrap .forshadow3 {
  position: absolute;
  top: -26px;
  width: 50px;
  height: 50px;
  box-shadow: -1px 1px 26px rgba(0,0,0,0.4);
  transform: rotate(45deg);
}
.tabs1 .tabs__title {
  display: flex;
  position: relative;
  top: -41px;
  min-height: 41px;
  overflow: hidden;
}
.tabs1 .tabs__title li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
/*new begin*/
/*i {
        position: absolute
        z-index: 1000
        top: 0px
        width: 100%
        height: 50px
        background: #fff
        //box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.8)
        &:before {
          content: ''
          position: absolute
          z-index: 1000
          top: 15px
          width: 100%
          height: 5px
          background: #ccc
          box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.8)
        }
        &:after {
          content: ''
          position: absolute
          top: 15px
          z-index: 10000
          width: 100%
          height: 50px
          background: #8b008b
        }
      }*/
/*new end*/
}
.tabs1 .tabs__title li:before {
  content: '';
  position: absolute;
  z-index: 10;
  left: -14px;
  width: 50px;
  height: 41px;
  background: #ccc;
}
.tabs1 .tabs__title li:after {
  content: '';
  position: absolute;
  z-index: -10;
  right: 3px;
  width: 50px;
  height: 400px;
  background: #000;
  transform: rotate(-45deg);
  box-shadow: -1px 1px 26px rgba(0,0,0,0.4);
}
.tabs1 .tabs__title li:last-child:after {
  box-shadow: none;
}
.tabs1 .tabs__title li:nth-child(1) a {
  z-index: 30;
  padding: 5px 17px 0 45px;
}
.tabs1 .tabs__title li:nth-child(1) a:before {
  left: 45px;
  background-color: #8b008b;
}
.tabs1 .tabs__title li:nth-child(1):before {
  z-index: 30;
  top: -104px !important;
  left: -45px !important;
  width: 50px !important;
  height: 400px !important;
  transform: rotate(45deg);
  background-color: #8b008b;
  box-shadow: none !important;
}
.tabs1 .tabs__title li:nth-child(1):after {
  z-index: 25;
  width: 60px;
  right: 0;
  background-color: #8b008b;
}
.tabs1 .tabs__title li:nth-child(2) a {
  z-index: 22;
/*&:before {
            background-color: #7ac6df
          }*/
}
.tabs1 .tabs__title li:nth-child(2):after {
  z-index: 20;
}
.tabs1 .tabs__title li:nth-child(3) a {
  z-index: 18;
/*&:before {
            background-color: #48a0bd
          }*/
}
.tabs1 .tabs__title li:nth-child(3):after {
  z-index: 16;
}
.tabs1 .tabs__title li:nth-child(4) a {
  z-index: 14;
/*&:before {
            background-color: #42c0c5
          }*/
}
.tabs1 .tabs__title li:nth-child(4):after {
  z-index: 12;
  right: -4px;
  width: 50px;
}
.tabs1 .tabs__title li:nth-child(5) a {
  z-index: 10;
/*&:before {
            //left: -40px
            background-color: #14968e
          }*/
}
.tabs1 .tabs__title li:nth-child(5):after {
  z-index: 8;
}
.tabs1 .tabs__title li:nth-child(6) a {
  z-index: 7;
}
.tabs1 .tabs__title li:nth-child(6):before {
  z-index: 7;
}
.tabs1 .tabs__title li:nth-child(6):after {
  z-index: 6;
}
.tabs1 .tabs__title li:nth-child(7) a {
  z-index: 7;
}
.tabs1 .tabs__title li:nth-child(7):before {
  z-index: 5;
}
.tabs1 .tabs__title li:nth-child(7):after {
  z-index: 6;
}
.tabs1 .tabs__title li.prev:after {
  right: -100px;
  width: 140px;
  box-shadow: none;
  transform: none;
}
.tabs1 .tabs__title li.ui-tabs-active:before,
.tabs1 .tabs__title li.ui-tabs-active:after {
  background: #fff !important;
}
.tabs1 .tabs__title li.ui-tabs-active:before {
  z-index: 100;
  top: -149px;
  width: 35px;
  height: 400px;
  transform: rotate(45deg) !important;
  box-shadow: -1px 1px 26px rgba(0,0,0,0.4);
}
.tabs1 .tabs__title li.ui-tabs-active a {
  z-index: 200;
  color: #5d5d5d;
}
.tabs1 .tabs__title li.ui-tabs-active a:before {
  background: #fff !important;
}
.tabs1 .tabs__title li a {
  position: relative;
  padding: 7px 24px 0 39px;
  min-width: 120px;
  width: 100%;
  height: 100%;
  font-family: latoregular;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}
.tabs1 .tabs__title li a:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -5px;
  left: 35px;
  right: 20px;
  max-width: 100%;
  height: 120%;
  background: #7ac6df;
}
.tabs1 .tabs__content {
  position: relative;
  z-index: 100;
  background: #fff;
}
.tabs1 .tabs__content > div {
  padding: 0 30px 40px 30px;
  overflow: hidden;
}
.tabs1 .tabs__content > div > .divider {
  width: 200%;
  margin-left: -100px !important;
}
.tabs1 .tabs__content h3 {
  display: block;
  width: 228px;
  font-family: latoblack;
  font-size: 25px;
  line-height: 25px;
  color: #6197a2;
  letter-spacing: 0.3px;
}
.tabs1 .tabs__content .divider.left.right {
  margin: 0;
  margin-bottom: 30px;
}
.tabs1 .tabs__content b {
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  color: #3a3a3a;
}
.tabs1 .tabs__content p {
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #3a3a3a;
}
.tabs1 .tabs__content p a,
.tabs1 .tabs__content p b {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.tabs1 .tabs__content .divider {
  margin: 44px 0 44px 0;
}
.tabs1 .tabs__content #tabs-1 > .flex_row__between .left {
  min-width: 190px;
}
.tabs1 .tabs__content #tabs-1 > .flex_row__between .left img {
  margin-left: 40px;
  margin-right: 20px;
}
.tabs1 .tabs__content #tabs-1 > .flex_row__between .right p {
  padding-right: 40px;
}
.tabs1 .tabs__content #tabs-1 > .flex_row__between .right .companylife {
  display: block;
  margin-top: 18px;
}
.tabs1 .tabs__content #tabs-1 ul.features li {
  margin: 0 10px 20px 10px;
  padding-top: 70px;
  width: 75px;
  font-family: latoregular;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #4373aa;
  background: url("/img/iconset-features.jpg") no-repeat;
  background-position: 12px 0;
}
.tabs1 .tabs__content #tabs-1 ul.features li:nth-child(2) {
  background-position: -122px 0;
}
.tabs1 .tabs__content #tabs-1 ul.features li:nth-child(3) {
  background-position: -260px 0;
}
.tabs1 .tabs__title li.color1:before,
.tabs1 .tabs__title li.color1:after,
.tabs1 .tabs__title li.color1 a:before {
  background: #8b008b;
}
.tabs1 .tabs__title li.color2:before,
.tabs1 .tabs__title li.color2:after,
.tabs1 .tabs__title li.color2 a:before {
  background: #7ac6df;
}
.tabs1 .tabs__title li.color3:before,
.tabs1 .tabs__title li.color3:after,
.tabs1 .tabs__title li.color3 a:before {
  background: #48a0bd;
}
.tabs1 .tabs__title li.color4:before,
.tabs1 .tabs__title li.color4:after,
.tabs1 .tabs__title li.color4 a:before {
  background: #42c0c5;
}
.tabs1 .tabs__title li.color5:before,
.tabs1 .tabs__title li.color5:after,
.tabs1 .tabs__title li.color5 a:before {
  background: #14968e;
}
.tabs1 .tabs__title li.color6:before,
.tabs1 .tabs__title li.color6:after,
.tabs1 .tabs__title li.color6 a:before {
  background: #f4a452;
}
@media (max-width: 970px) {
  .tabs1 .tabs__content {
    position: relative;
    z-index: 100;
    background: #fff;
  }
  .tabs1 .tabs__content > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 1040px) {
  .tabs1 .tabs__title__wrap .forshadow:before {
    top: -40px;
    right: 0px;
    transform: none;
  }
  .tabs1 .tabs__title__wrap .forshadow3 {
    top: -27px;
    height: 30px;
    transform: none;
  }
  .tabs1 .tabs__title__wrap:after {
    height: 200px;
  }
  .tabs1 .tabs__title {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .tabs1 .tabs__title li {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 50%;
    min-height: 41px;
    overflow: hidden;
  }
  .tabs1 .tabs__title li:before {
    z-index: 5;
  }
  .tabs1 .tabs__title li:not(:first-child):before {
    width: 100px !important;
    transform: none !important;
  }
  .tabs1 .tabs__title li a {
    display: flex;
    align-items: center;
    padding-top: 6px !important;
    padding-right: 20px !important;
    padding-bottom: 7px !important;
  }
  .tabs1 .tabs__title li:after {
    z-index: 3 !important;
    width: 200px !important;
    height: 200px !important;
  }
  .tabs1 .tabs__title li:last-child:after {
    top: -138px;
  }
  .tabs1 .tabs__title li:last-child a:before {
    right: 40px;
  }
}
@media (max-width: 580px) {
  .tabs1 .tabs__title li {
    width: 100%;
  }
}
/*
@media (max-width: 580px) {
  .mainfield {
    h2 {
      padding-top: 60px
      font-size: 35px !important
      line-height: 45px
    }
    #tabs {
      .tabs__title {
        li {
          width: 100%
        }
      }
    }
  }
}
  */
.tabs--vertical {
  display: flex;
}
.tabs--vertical {
  border-top: 1px solid #cecece;
}
.tabs--vertical .title {
  border-right: 1px solid #cecece;
}
.tabs--vertical .title li {
  margin-right: -1px;
}
.tabs--vertical .title li.ui-tabs-active a {
  background: #fefce6;
  font-family: latobold;
  border-right: 1px dashed #cecece;
}
.tabs--vertical .title li.ui-tabs-active a:after {
  display: none;
}
.tabs--vertical .title li a {
  position: relative;
  display: block;
  padding-left: 52px;
  width: 240px;
  font-family: latoregular;
  font-size: 16px;
  line-height: 64px;
  color: #414141;
  text-decoration: none;
  border-bottom: 1px solid #cecece;
}
.tabs--vertical .title li a:before {
  content: '';
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: center no-repeat;
}
.tabs--vertical .title li a:after {
  content: '';
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 27px;
  background: url("/img/icon-arrow3.png");
}
.tabs--vertical .title li:nth-child(1) a:before {
  background-image: url("/img/logo-nanocad-mini.png");
}
.tabs--vertical .title li:nth-child(2) a:before {
  background-image: url("/img/logo-csoft-mini.png");
}
.tabs--vertical .title li:nth-child(3) a:before {
  background-image: url("/img/logo-pilotICE-mini.png");
}
.tabs--vertical .title li:nth-child(4) a:before {
  background-image: url("/img/logo-renga-mini.png");
}
.tabs--vertical .content {
  padding: 0 38px 90px 26px;
  width: 100%;
  background: #fefce6;
}
.tabs--vertical .content .tab_content_title {
  padding: 20px;
  font-family: latoregular;
  font-size: 22px;
  letter-spacing: 0.26px;
  color: #545454;
  text-align: center;
}
.tabs--vertical .content .table1 {
  margin-top: 28px;
  width: auto;
}
.tabs--vertical .content .table1 td {
  padding-top: 8px;
  padding-bottom: 7px;
  color: #0f73b9;
}
.tabs--vertical .content .table1 td b {
  color: inherit !important;
}
.tabs--vertical .content .table1 td[colspan="2"] {
  font-family: latoregular;
  line-height: 20px;
  text-align: center;
}
.tabs--vertical .content .table1 td:not([colspan="2"]) {
  padding-left: 40px;
  width: 204px;
}
.tabs--vertical .content .table1.nanocadversions tr td:nth-child(1),
.tabs--vertical .content .table1.nanocadversions tr td:nth-child(2) {
  position: relative;
}
.tabs--vertical .content .table1.nanocadversions tr td:nth-child(1):before,
.tabs--vertical .content .table1.nanocadversions tr td:nth-child(2):before {
  content: '';
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 17px;
  background: url("/img/iconset-nanocad-v1.png") no-repeat center 1px;
}
.tabs--vertical .content .table1.nanocadversions tr td:nth-child(2):before {
  background-image: url("/img/iconset-nanocad-v2.png");
}
.tabs--vertical .content .table1.nanocadversions tr:nth-child(1) td:before {
  display: none;
}
.tabs--vertical .content .table1.nanocadversions tr:nth-child(2) td:nth-child(1):before,
.tabs--vertical .content .table1.nanocadversions tr:nth-child(2) td:nth-child(2):before {
  background-position-y: 1px;
}
.tabs--vertical .content .table1.nanocadversions tr:nth-child(3) td:nth-child(1):before,
.tabs--vertical .content .table1.nanocadversions tr:nth-child(3) td:nth-child(2):before {
  background-position-y: -32px;
}
.tabs--vertical .content .table1.nanocadversions tr:nth-child(4) td:nth-child(1):before,
.tabs--vertical .content .table1.nanocadversions tr:nth-child(4) td:nth-child(2):before {
  background-position-y: -67px;
}
.tabs--vertical .content .table1.nanocadversions tr:nth-child(5) td:nth-child(1):before,
.tabs--vertical .content .table1.nanocadversions tr:nth-child(5) td:nth-child(2):before {
  background-position-y: -101px;
}
.tabs--vertical .content .table1.nanocadversions tr:nth-child(6) td:nth-child(1):before,
.tabs--vertical .content .table1.nanocadversions tr:nth-child(6) td:nth-child(2):before {
  background-position-y: -136px;
}
.tabs--vertical .content .table1.nanocadversions tr:nth-child(7) td:nth-child(1):before,
.tabs--vertical .content .table1.nanocadversions tr:nth-child(7) td:nth-child(2):before {
  background-position-y: -170px;
}
.tabs--vertical .content .table1.nanocadversions tr:nth-child(8) td:nth-child(1):before,
.tabs--vertical .content .table1.nanocadversions tr:nth-child(8) td:nth-child(2):before {
  background-position-y: -203px;
}
.tabs--vertical .content .table1.nanocadversions tr:nth-child(9) td:nth-child(1):before,
.tabs--vertical .content .table1.nanocadversions tr:nth-child(9) td:nth-child(2):before {
  background-position-y: -237px;
}
@media (max-width: 780px) {
  .tabs--vertical {
    flex-direction: column;
  }
  .tabs--vertical .title {
    display: flex;
    flex-wrap: wrap;
    border-right: 0;
  }
  .tabs--vertical .title li {
    margin-left: 1px;
    width: 25%;
    min-width: 175px;
  }
  .tabs--vertical .title li a {
    padding-left: 38px;
    padding-right: 10px;
    width: 100%;
    border-right: 1px solid #cecece;
  }
  .tabs--vertical .title li a:before {
    left: 12px;
  }
  .tabs--vertical .title li a:after {
    display: none;
  }
  .tabs--vertical .title li.ui-tabs-active a {
    border-right: 1px solid #cecece;
  }
  .tabs--vertical .content {
    margin-top: -1px;
    padding: 0 15px 90px 15px;
    border-top: 1px solid #cecece;
  }
}
@media (max-width: 550px) {
  .tabs--vertical .title li {
    width: 100%;
  }
}
/*.title {
  border-right: 1px solid #cecece
  li {
    margin-right: -1px
    &.ui-tabs-active {
      a {
        background: #fefce6
        font-family: latobold
        border-right: 1px dashed #cecece
        &:after {
          display: none
        }
      }
    }*/
/*HEADER BEGIN*/
.header {
  position: relative;
  z-index: 200;
  width: 100%;
  min-height: 90px;
  background-color: #417aa3;
  color: #fff;
}
.header .container {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 90px;
}
.header__logo img {
  min-width: 146px;
  height: 61px;
}
.header__tel {
  margin-left: 8%;
  min-width: 210px;
  text-align: center;
}
.header__tel .number {
  font-family: latobold;
  font-size: 22px;
  line-height: 22px;
}
.header__tel .call {
  font-family: latolight;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}
.header__tel .call:hover {
  text-decoration: none;
}
.header__search {
  position: relative;
  margin-left: 5%;
  padding: 3px;
  width: 215px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 3px;
}
.header__search input {
  padding: 0 35px 0 10px;
  width: 100%;
  height: 100%;
  font-family: calibri;
  font-size: 18px;
  border: 1px solid #fff;
  border-radius: 1px;
}
.header__search input::placeholder {
  color: #b4b4b4;
  opacity: 1;
}
.header__search input:-ms-input-placeholder {
  color: #b4b4b4;
}
.header__search input::-ms-input-placeholder {
  color: #b4b4b4;
}
.header__search button {
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url("/img/icon-search.png");
}
.header__catalog {
  position: relative;
  z-index: 80;
}
.header__catalog__wrap {
  margin-left: 8%;
}
.header__catalog.active {
  background: #fff;
}
.header__catalog.active .title {
  color: #000;
  border: none;
}
.header__catalog.active .title:before {
  background: #000;
}
.header__catalog.active .title:after {
  top: 11px;
  width: 15px;
  height: 15px;
  border: none;
  transform: rotate(0);
  background: url("/img/icon-cross.jpg");
}
.header__catalog.active .content {
  display: block;
}
.header__catalog .title {
  position: relative;
  z-index: 10;
  padding: 7px 20px 7px 21px;
  width: 160px;
  height: 37px;
  font-family: latobold;
  font-size: 18px;
  border: 1px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}
.header__catalog .title:before {
  content: '';
  position: absolute;
  right: 38px;
  top: 4px;
  bottom: 4px;
  width: 1px;
  max-height: 100%;
  background: #fff;
}
.header__catalog .title:after {
  content: '';
  position: absolute;
  right: 12px;
  top: 8px;
  width: 11px;
  height: 11px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
}
.header__catalog .content {
  display: none;
  position: absolute;
  top: -3px;
  right: 0;
  padding: 45px 8px 8px 8px;
  width: 595px;
  background: #fff;
}
.header__catalog .content:before {
  content: '';
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  height: 1px;
  background: #c7c7c7;
}
.header__catalog .content:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -10px;
  bottom: -10px;
  right: -10px;
  left: -10px;
  background: rgba(255,255,255,0.5);
}
.header__catalog .content ul {
  display: flex;
  flex-direction: column;
}
.header__catalog .content ul .content__title {
  display: inline-block;
  margin: 15px 0 10px 0;
}
.header__catalog .content ul .content__title.lonely {
  margin: 3px 0 3px 0;
}
.header__catalog .content ul .content__title a {
  font-family: latobold;
  font-size: 18px;
  line-height: 25px;
  color: #0f73b9;
  text-decoration: underline;
}
.header__catalog .content ul .content__title a:hover {
  text-decoration: none;
}
.header__catalog .content ul li {
  font-family: latoregular;
  font-size: 16px;
  line-height: 26px;
  color: #0f73b9;
}
.header__catalog .content ul.foricons li {
  position: relative;
  padding-left: 27px;
}
.header__catalog .content ul.foricons li.content__title {
  padding: 0 !important;
}
.header__catalog .content ul.foricons li.content__title:before {
  display: none;
}
.header__catalog .content ul.foricons li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("/img/iconset-catalog.jpg");
}
.header__catalog .content ul.foricons#foricons__1 li:nth-child(2):before {
  background-position: 2px 0;
}
.header__catalog .content ul.foricons#foricons__1 li:nth-child(3):before {
  background-position: 2px -27px;
}
.header__catalog .content ul.foricons#foricons__1 li:nth-child(4):before {
  background-position: 2px -53px;
}
.header__catalog .content ul.foricons#foricons__1 li:nth-child(5):before {
  background-position: 2px -80px;
}
.header__catalog .content ul.foricons#foricons__2 li {
  padding-left: 32px;
}
.header__catalog .content ul.foricons#foricons__2 li:before {
  width: 25px;
}
.header__catalog .content ul.foricons#foricons__2 li:nth-child(2):before {
  background-position: 26px 0;
}
.header__catalog .content ul.foricons#foricons__2 li:nth-child(3):before {
  background-position: 26px -27px;
}
.header__catalog .content ul.foricons#foricons__2 li:nth-child(4):before {
  background-position: 26px -53px;
}
.header__catalog .content ul.foricons#foricons__2 li:nth-child(5):before {
  background-position: 26px -80px;
}
.header__catalog .content ul.foricons#foricons__2 li:nth-child(6):before {
  height: 25px;
  background-position: 26px -103px;
}
.header__catalog .content ul.foricons#foricons__3 li {
  padding-left: 33px;
}
.header__catalog .content ul.foricons#foricons__3 li:before {
  width: 26px;
  height: 25px;
}
.header__catalog .content ul.foricons#foricons__3 li:nth-child(2):before {
  background-position: 29px -180px;
}
.header__catalog .content ul.foricons#foricons__3 li:nth-child(3):before {
  background-position: 29px -206px;
}
.header__catalog .content ul.foricons#foricons__3 li:nth-child(4):before {
  background-position: 29px -232px;
}
.header__catalog .content ul.foricons#foricons__3 li:nth-child(5):before {
  background-position: 29px -257px;
}
.header__catalog .content .square {
  position: relative;
  width: 230px;
  min-height: 175px;
}
.header__catalog .content .square:before {
  content: '';
  position: absolute;
  left: -8px;
  right: 0;
  bottom: 0;
  height: 1px;
  background: #c7c7c7;
}
.header__catalog .content .square:last-child:before {
  display: none;
}
.header__catalog .content .right {
  position: relative;
  padding: 0 0 35px 25px;
}
.header__catalog .content .right:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: -8px;
  width: 1px;
  background: #c7c7c7;
}
.header.notindexpage {
  background: #417aa3;
  box-shadow: -1px 1px 8px rgba(0,0,0,0.5);
}
@media (max-width: 850px) {
  .header .container {
    flex-wrap: wrap;
  }
  .header__logo,
  .header__tel,
  .header__search,
  .header__catalog__wrap {
    margin: 5px 10px 5px 10px;
    width: 40%;
  }
  .header__logo {
    text-align: center;
  }
  .header__catalog {
    width: 100%;
  }
  .header__catalog .title {
    margin: 0 auto;
  }
  .header__catalog__wrap {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 680px) {
  .header__catalog {
    position: static;
  }
  .header__catalog .content {
    top: 88px;
    width: 100%;
  }
}
@media (max-width: 550px) {
  .header__catalog .content {
    top: 86px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    border: 1px solid #c7c7c7;
  }
  .header__catalog .content .flex_row__start {
    flex-direction: column;
  }
  .header__catalog .content .left .square {
    align-items: flex-start;
    padding: 15px 0 15px 0;
    width: 100%;
    min-height: auto;
  }
  .header__catalog .content .left .square:last-child {
    border-bottom: 1px solid #c7c7c7;
  }
  .header__catalog .content .left .square ul li.content__title {
    margin-top: 0;
  }
  .header__catalog .content .right {
    padding: 0;
  }
  .header__catalog .content .right:before {
    display: none;
  }
  .header__catalog .content .right ul {
    padding-bottom: 15px;
    border-bottom: 1px solid #c7c7c7;
  }
  .header__catalog .content .right ul:last-child {
    border: none;
  }
}
@media (max-width: 446px) {
  .header__catalog .content {
    top: 140px;
  }
}
@media (max-width: 430px) {
  .header .container {
    flex-direction: column;
  }
  .header__logo,
  .header__tel,
  .header__search,
  .header__catalog {
    margin: 10px 0 10px 0;
    width: 100%;
  }
  .header__catalog {
    position: static;
  }
  .header__catalog__wrap {
    position: relative;
    width: 100%;
  }
  .header__catalog .title {
    margin: 0;
    margin-left: auto;
  }
  .header__catalog .content {
    width: auto;
    top: 6px;
    right: 0px;
    left: 0px;
  }
}
/*HEADER END*/
/*FOOTER BEGIN*/
.footer {
  position: relative;
  padding: 0 0 45px 0;
}
.footer:before {
  content: '';
  position: absolute;
  top: -7px;
  width: 100%;
  height: 8px;
  background-image: linear-gradient(to left, #547695 0%, #7ab6e1 100%);
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer,
.footer a {
  font-family: latoregular;
  font-size: 16px;
  line-height: 24px;
  color: #c3c3c3;
  background: #2b3640;
}
.footer__logo {
  display: flex;
  align-self: center;
  margin-top: 46px;
  margin-left: 47px;
  height: 100%;
}
.footer ul {
  display: flex;
  flex-direction: column;
  margin: 46px 20px 0 20px;
}
.footer ul li.footer__title {
  margin-bottom: 12px;
  font-family: latobold;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.footer ul li a {
  text-decoration: underline;
}
.footer ul li a:hover {
  text-decoration: none;
}
.footer__contact li {
  margin-bottom: 12px;
}
@media (max-width: 645px) {
  .footer__wrap ul,
  .footer__wrap .footer__logo {
    width: 240px;
    margin-left: 0;
    margin-right: 0;
  }
}
/*FOOTER END*/
/*TOPMENU BEGIN*/
.topmenu {
  position: relative;
}
.topmenu ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  height: 37px;
  background: #e2eef0;
}
.topmenu ul:before,
.topmenu ul:after {
  content: '';
  position: absolute;
  left: -37px;
  border-left: 37px solid transparent;
  border-right: 37px solid transparent;
  border-bottom: 37px solid #e2eef0;
  transform: rotate(180deg);
}
.topmenu ul:after {
  right: -37px;
}
.topmenu ul li {
  position: relative;
  z-index: 9;
  padding-left: 30px;
}
.topmenu ul li:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 19px;
  height: 19px;
  background: url("/img/iconset-topmenu.png") no-repeat;
}
.topmenu ul li:nth-child(2):before {
  background-position: -114px 0;
}
.topmenu ul li:nth-child(3):before {
  background-position: -239px 0;
}
.topmenu ul li:nth-child(4):before {
  background-position: -350px 0;
}
.topmenu ul li:nth-child(5):before {
  background-position: -467px 0;
}
.topmenu ul li:nth-child(6):before {
  background-position: -624px 0;
}
.topmenu ul li a {
  font-family: Calibri;
  font-weight: 400;
  font-size: 20px;
  line-height: 37px;
  color: #223f50;
}
.topmenu ul li a:hover {
  color: #000 !important;
  text-decoration: underline;
}
.topmenu ul li a.active {
  font-weight: 600;
}
.topmenu #topmenu__burger {
  display: none;
  position: relative;
  width: 100%;
  height: 55px;
  background: rgba(67,115,170,0.4);
}
.topmenu #topmenu__burger .burger {
  top: 25px;
  left: 15px;
}
.topmenu #topmenu__burger .burger.active i {
  background: transparent;
}
.topmenu #topmenu__burger .burger i {
  background: #fff;
}
.topmenu #topmenu__burger .burger i:before,
.topmenu #topmenu__burger .burger i:after {
  background: #fff;
}
.topmenu:not(.notindexpage) .slash {
  display: none;
}
.topmenu.notindexpage {
  width: 100%;
  background: #fcf4c0;
  border-bottom: 1px solid #e3e1d0;
}
.topmenu.notindexpage .container {
  justify-content: unset;
  max-width: 1030px;
}
.topmenu.notindexpage ul {
  background: #fcf4c0;
}
.topmenu.notindexpage ul:before,
.topmenu.notindexpage ul:after {
  display: none;
}
.topmenu.notindexpage ul li {
  padding: 0;
  font-family: latoregular;
  font-size: 17px;
  color: #223f50;
}
.topmenu.notindexpage ul li:nth-last-child(2) .slash {
  display: none;
}
.topmenu.notindexpage ul li:before {
  display: none;
}
.topmenu.notindexpage ul li a {
  font-family: latoregular;
  font-size: 17px;
  color: #223f50;
  text-decoration: none;
}
.topmenu.notindexpage ul li.authorization {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.topmenu.notindexpage ul li.authorization:before {
  display: none;
}
.topmenu.notindexpage ul li.authorization span:not(.slash) {
  cursor: pointer;
}
.topmenu.notindexpage ul li.authorization span:not(.slash):hover {
  color: #000 !important;
}
.topmenu.notindexpage #topmenu__burger {
  background: #5f95b2;
}
@media (max-width: 730px) {
  .topmenu.notindexpage ul.container {
    justify-content: space-between;
    background: #e2eef0;
  }
  .topmenu.notindexpage ul.container.active {
    height: 350px;
  }
  .topmenu.notindexpage li:not(:last-child) .slash {
    display: none;
  }
  .topmenu.notindexpage li.authorization {
    margin-top: 10px;
    padding-top: 12px;
    height: 45px;
    border-top: 1px solid #808080;
  }
}
@media (max-width: 730px) {
  .topmenu #topmenu__burger {
    display: block;
  }
  .topmenu ul {
    position: absolute;
    z-index: 10;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
    overflow: hidden;
    transition: 0.2s;
  }
  .topmenu ul.active {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 330px;
  }
  .topmenu ul:before,
  .topmenu ul:after {
    display: none;
  }
  .topmenu ul li {
    width: 100%;
  }
  .topmenu ul li a {
    display: block;
    width: 100%;
  }
}
@media (max-width: 430px) {
  .topmenu #topmenu__burger {
    display: none;
  }
}
/*TOPMENU END*/
/*MODAL BEGIN*/
.overlay {
  display: none;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.66);
}
.modal {
  z-index: 999;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 292px;
  width: 100%;
  min-height: 253px;
  text-align: center;
  background: #fff;
}
.modal:before,
.modal:after {
  content: '';
  position: absolute;
  z-index: -100000;
  left: -6px;
  right: -6px;
  top: -6px;
  bottom: -6px;
  background: linear-gradient(top, #dd7f68 0%, #ffc851 100%);
  opacity: 0.8;
}
.modal:after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  opacity: 1;
}
.modal__close {
  position: absolute;
  right: -20px;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  width: 28px;
  height: 28px;
  font-family: latoblack;
  font-size: 14px;
  line-height: 25px;
  color: #666;
  border: 4px solid #dd7f68;
  border-radius: 100%;
  background-color: #fff;
  cursor: pointer;
}
.modal .title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: latoregular;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.22px;
  text-transform: uppercase;
}
.modal input,
.modal textarea {
  margin-bottom: 11px;
  padding: 0 5px 0 40px;
  max-width: 227px;
  width: 100%;
  height: 40px;
  border: 1px solid #ababab;
  border-radius: 4px;
  font-family: latoregular;
  font-size: 16px;
  line-height: 25px;
  box-sizing: border-box;
}
.modal input::placeholder,
.modal textarea::placeholder {
  color: #666;
  opacity: 1;
}
.modal input:-ms-input-placeholder,
.modal textarea:-ms-input-placeholder {
  color: #666;
}
.modal input::-ms-input-placeholder,
.modal textarea::-ms-input-placeholder {
  color: #666;
}
.modal .input {
  position: relative;
}
.modal .input:before {
  content: '';
  position: absolute;
  top: 0;
  left: 15px;
  width: 17px;
  height: 17px;
  background: #000;
}
.modal input.name,
.modal input.tel {
  background: url("/img/iconset-feedback1.jpg") no-repeat 12px 10px;
}
.modal input.tel {
  background-position: 12px -46px;
}
.modal .agreement {
  color: #848586;
  font-family: latoregular;
  font-size: 12px;
  line-height: 25px;
}
.modal .agreement a {
  color: #848586;
}
.modal .agreement label {
  display: block;
  margin: 0 auto;
  padding-left: 22px;
}
.modal .agreement label:before {
  top: -1px;
}
.modal .agreement input:not(checked) + label:before {
  top: 4px;
  width: 15px;
  height: 15px;
  background: url("/img/icon-checkbox.png") no-repeat;
  background-size: cover;
  border-radius: 0;
}
.modal .agreement input:not(checked) + label:after {
  top: 50%;
  margin-top: -6px;
  left: 5px;
  width: 3px;
  height: 6px;
  background: transparent;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  transform: rotate(45deg);
}
.modal .agreement input[type='checkbox'] {
  height: 0;
}
.modal .btn2 {
  margin-top: 15px;
  font-family: latobold;
  font-size: 16px;
  background-color: #dd7f68;
}
.modal .btn2:before {
  display: none;
}
.modal .btn2:after {
  z-index: -1;
  background: rgba(221,127,104,0.3);
}
@media (max-width: 330px) {
  .modal__close {
    top: -38px;
    right: 5px;
  }
}
/*MODAL END*/
.text.short span.active {
  display: inline !important;
}
.text.short a.morelink {
  color: #4984ad;
}
.table1__forscroll {
  overflow-x: auto;
}
table.table1 {
  width: 100%;
  overflow-x: auto;
}
table.table1,
table.table1 th,
table.table1 td {
  padding: 7px 15px 6px 15px;
  border-collapse: collapse;
  border: 1px solid #d2d2d2;
  box-sizing: border-box;
}
table.table1 span,
table.table1 th span,
table.table1 td span {
  font-family: inherit;
  font-size: inherit;
}
table.table1.withHint,
table.table1 th.withHint,
table.table1 td.withHint {
  padding-right: 33px;
}
table.table1 th {
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #545454;
  background: #f1f1f1;
}
table.table1 td {
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  color: #545454;
  background: #fff;
}
table.table1 td b {
  font-weight: bold;
  font-size: 15px;
}
table.table1 td label {
  padding-left: 0 !important;
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
}
table.table1 td.td--check,
table.table1 td.td--logo {
  padding-left: 9px;
  padding-right: 9px;
  width: 30px;
}
table.table1 td.td--price {
  min-width: 110px;
}
table.table1 .checkbox label {
  padding-left: 0 !important;
  width: 15px;
  height: 15px;
}
table.table1 .checkbox label:before,
table.table1 .checkbox label:after {
  top: 0;
  left: 0;
}
@media (max-width: 500px) {
  table.table1,
  table.table1 th,
  table.table1 td {
    padding-left: 8px;
    padding-right: 8px;
  }
  table.table1 td.td--price {
    min-width: 100px;
  }
}
.checkbox.checkbox--square input:not(checked) + label:before {
  width: 16px;
  height: 16px;
  transform: none;
  opacity: 1;
  background: url("/img/icon-checkbox2.jpg") no-repeat center;
}
.checkbox.checkbox--square input:not(checked) + label:after,
.checkbox.checkbox--square input:checked + label:after {
  left: 0;
  margin-top: 0;
  transform: none;
  width: 16px;
  height: 16px;
  opacity: 1;
  background: url("/img/icon-checkbox2-checked.jpg") no-repeat center;
}
.checkbox.checkbox--square input:not(checked) + label:after {
  opacity: 0;
}
.checkbox.checkbox--square label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px !important;
  width: 100%;
  background: #fff;
}
.checkbox.checkbox--square label span {
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
  font-size: 18px;
  color: #4984ad;
}
.checkbox.checkbox--square label span mark {
  font-family: inherit;
  font-weight: 600;
  color: inherit;
  background: transparent;
}
.checkbox.checkbox--square label:before,
.checkbox.checkbox--square label:after {
  z-index: 10;
}
.circleslider {
  margin: 0 auto;
  width: 350px;
  height: 350px;
  background: url("/img/bg-circleslider.png") no-repeat center;
}
.circleslider .slick-list,
.circleslider .slick-track,
.circleslider .slick-track .item {
  height: 100%;
}
.circleslider .slick-track .item p {
  margin: 45% auto 0 auto;
  transform: translateY(-50%);
  width: 184px;
  text-align: center;
}
.circleslider .slick-dots li button {
  font-size: 0;
  line-height: 0;
}
.circleslider .slick-dots li {
  position: absolute;
  width: 110px;
  height: 110px;
  background: no-repeat center;
  cursor: pointer;
  opacity: 0.5;
  background: no-repeat center;
}
.circleslider .slick-dots li.slick-active {
  opacity: 1;
}
.circleslider .slick-dots li:nth-child(1) {
  top: -65px;
  left: 115px;
  background-image: url("/img/icon-circleslider1.png");
}
.circleslider .slick-dots li:nth-child(2) {
  top: 55px;
  right: -50px;
  background-image: url("/img/icon-circleslider2.png");
}
.circleslider .slick-dots li:nth-child(3) {
  bottom: 10px;
  right: -15px;
  background-image: url("/img/icon-circleslider3.png");
}
.circleslider .slick-dots li:nth-child(4) {
  bottom: -8px;
  left: 7px;
  background-image: url("/img/icon-circleslider4.png");
}
.circleslider .slick-dots li:nth-child(5) {
  top: 40px;
  left: -48px;
  background-image: url("/img/icon-circleslider5.png");
}
@media (max-width: 500px) {
  .circleslider {
    width: 280px;
    background-size: 280px 350px;
  }
  .circleslider .slick-track .item p {
    margin: 57% auto 0 auto;
  }
  .circleslider .slick-dots li {
    width: 72px;
    height: 72px;
    background-size: contain;
  }
  .circleslider .slick-dots li:nth-child(1) {
    top: -48px;
    left: 100px;
  }
  .circleslider .slick-dots li:nth-child(2) {
    top: 75px;
    right: -32px;
  }
  .circleslider .slick-dots li:nth-child(3) {
    bottom: 30px;
    right: -8px;
  }
  .circleslider .slick-dots li:nth-child(4) {
    bottom: 15px;
    left: 10px;
  }
  .circleslider .slick-dots li:nth-child(5) {
    top: 65px;
    left: -32px;
  }
}
@media (max-width: 370px) {
  .circleslider {
    background: none;
  }
  .circleslider .slick-track .item p {
    margin-right: 0;
  }
  .circleslider .slick-dots li:nth-child(1) {
    top: -50px;
    left: 60px;
  }
  .circleslider .slick-dots li:nth-child(2) {
    top: 40px;
    left: 10px;
  }
  .circleslider .slick-dots li:nth-child(3) {
    bottom: auto;
    top: 130px;
    left: -10px;
  }
  .circleslider .slick-dots li:nth-child(4) {
    bottom: auto;
    top: 220px;
    left: 10px;
  }
  .circleslider .slick-dots li:nth-child(5) {
    top: 310px;
    left: 60px;
  }
}
.scroll {
  max-height: 308px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: max-height 0.5s;
/* width */
/* Track */
/* Handle */
/* Handle on hover */
}
.scroll.active {
  max-height: 2000px;
}
.scroll::-webkit-scrollbar {
  width: 9px;
}
.scroll::-webkit-scrollbar-track {
  background-color: #c4c4c4;
  border: 4px solid transparent;
  border-radius: 12px;
  background-clip: content-box;
}
.scroll::-webkit-scrollbar-thumb {
  width: 9px;
  border-radius: 4px;
  background-color: #c4c4c4;
}
.scroll::-webkit-scrollbar-thumb:hover {
  background: #939393;
}
.scroll__wrap {
  position: relative;
}
.scroll mark {
  font-family: inherit;
  font-weight: 600;
  color: inherit;
  background: transparent;
}
.scroll__footer {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #f1f1f1;
  border-top: 1px solid #d1d1d1;
}
.scroll__showall {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-right: 30px;
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #545454;
  background: transparent;
  text-transform: uppercase;
}
.scroll__showall:after {
  content: '';
  position: absolute;
  right: 0;
  top: 8px;
  width: 19px;
  height: 11px;
  background: url("/img/icon-arrow2.png") no-repeat center;
  background-size: 19px 11px;
}
.scroll__showall.active:after {
  transform: rotate(180deg);
}
.scroll--left {
  direction: rtl;
}
.transpBox {
  position: relative;
}
.transpBox:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: -8px;
  right: -8px;
  top: -8px;
  bottom: -8px;
  background: rgba(255,255,255,0.5);
}
.transpBox--title {
  display: inline-block !important;
  z-index: 1;
}
.transpBox--title:before {
  right: -30px;
  top: 22px;
  bottom: 22px;
  left: -1000px;
}
.transpBox--title .innerPage__title,
.transpBox--title .crumbs {
  display: inline-block;
}
.transpBox--wide:before {
  left: -1000px !important;
  right: -1000px !important;
  top: -10px !important;
  bottom: -10px;
}
.ecp__h2,
.ecp__form2 p.ecp__h2,
p.ecp__h2 {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-family: latoblack !important;
  font-size: 24px;
  line-height: 29px;
  color: #545454;
  text-transform: uppercase;
}
.ecp__h2 .font-red,
.ecp__form2 p.ecp__h2 .font-red,
p.ecp__h2 .font-red,
.ecp__h2 .font-blue,
.ecp__form2 p.ecp__h2 .font-blue,
p.ecp__h2 .font-blue,
.ecp__h2 .font-darkblue,
.ecp__form2 p.ecp__h2 .font-darkblue,
p.ecp__h2 .font-darkblue {
  font-family: latoblack;
  font-size: 24px;
}
.ecp__h2--18,
.ecp__form2 p.ecp__h2--18,
p.ecp__h2--18 {
  font-size: 18px;
  line-height: 23px;
}
.ecp__h2--18 .font-red,
.ecp__form2 p.ecp__h2--18 .font-red,
p.ecp__h2--18 .font-red,
.ecp__h2--18 .font-darkblue,
.ecp__form2 p.ecp__h2--18 .font-darkblue,
p.ecp__h2--18 .font-darkblue {
  font-size: 18px;
}
.ecp__h2--20,
.ecp__form2 p.ecp__h2--20,
p.ecp__h2--20 {
  font-size: 20px;
  line-height: 25px;
}
.ecp__h2--20 .font-red,
.ecp__form2 p.ecp__h2--20 .font-red,
p.ecp__h2--20 .font-red,
.ecp__h2--20 .font-blue,
.ecp__form2 p.ecp__h2--20 .font-blue,
p.ecp__h2--20 .font-blue,
.ecp__h2--20 .font-darkblue,
.ecp__form2 p.ecp__h2--20 .font-darkblue,
p.ecp__h2--20 .font-darkblue {
  font-size: 20px;
}
.ecp__h2__subtitle,
.ecp__h2__subtitle .font-red,
.ecp__form2 p.ecp__h2__subtitle {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-family: latoregular !important;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.ecp__h2__subtitle {
  color: #545454;
}
.ecp__h3,
.ecp__form2 p.ecp__h3,
p.ecp__h3 {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-family: latoblack !important;
  font-size: 18px;
  color: #545454;
  text-transform: uppercase;
}
.ecp__h3 .font-red,
.ecp__form2 p.ecp__h3 .font-red,
p.ecp__h3 .font-red,
.ecp__h3 .font-blue,
.ecp__form2 p.ecp__h3 .font-blue,
p.ecp__h3 .font-blue,
.ecp__h3 .font-darkblue,
.ecp__form2 p.ecp__h3 .font-darkblue,
p.ecp__h3 .font-darkblue {
  font-family: latoblack;
  font-size: 18px;
}
.ecp__h3--calibri {
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  text-transform: uppercase;
}
.font-blue {
  color: #4984ad;
}
.font-darkblue {
  color: #0055a3;
}
.accordion .content {
  max-height: 0;
  overflow: hidden;
  transition: 0.35s;
}
.accordion .title {
  display: inline-block;
  cursor: pointer;
}
.accordion .title:after {
  content: '';
  position: absolute;
  width: 10px;
}
.accordion .title .arrow {
  display: inline-block;
  top: 0px;
  margin: 0 3px 0 3px;
  width: 16px;
  height: 9px;
  background: url("/img/icon-arrow2.png") no-repeat;
  transition: 0.3s;
}
.accordion.active .content {
  max-height: 700px;
}
.accordion.active .title .arrow {
  transform: rotate(180deg);
}
.accordion--noanimation .content {
  transition: none;
}
.accordion--noanimation .title .arrow {
  transition: none;
}
input.attach {
  background: #fff url("/img/icon-attach2.png") no-repeat 12px 10px;
}
label {
  user-select: auto;
}
.divider2.right.left {
  padding: 0 10px 0 10px;
  text-align: center;
  overflow: hidden;
}
.divider2.right.left div {
  position: relative;
  display: inline-block;
}
.divider2.right.left div:before,
.divider2.right.left div:after {
  content: '';
  position: absolute;
  top: 50%;
  left: -812px;
  width: 800px;
  height: 1px;
  background: #cecece;
}
.divider2.right.left div:after {
  left: auto;
  right: -812px;
}
.list--checked li {
  position: relative;
  margin: 7px 0 7px 0;
  padding-left: 24px;
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.list--checked li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: url("/img/icon-checked.png") center no-repeat;
}
.preventJumping {
  position: absolute;
  height: 1500px;
}
