.ecp {
  min-height: 1000px;
  position: relative;
}
.ecp .transpBox {
  position: relative;
}
.ecp .transpBox:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: -8px;
  right: -8px;
  top: -8px;
  bottom: -8px;
  background: rgba(255,255,255,0.5);
}
.ecp .checkbox__wrap ul {
  display: flex;
  flex-wrap: wrap;
  padding: 38px 18px 0 18px;
}
.ecp .checkbox__wrap ul li.checkbox--picture {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 16.6%;
  min-width: 115px;
}
.ecp .checkbox__wrap ul li.checkbox--picture label span.text {
  max-width: 77px;
}
.ecp .checkbox__wrap ul li.checkbox--picture:nth-child(3) span.img__wrap {
  margin-left: 10px;
}
.ecp .checkbox__wrap ul li.checkbox--picture:nth-child(4) span.img__wrap {
  margin-left: 25px;
}
.ecp__title {
  margin-top: 62px;
  font-family: latoblack;
  font-size: 38px;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 8px rgba(0,0,0,0.5);
  text-align: center;
}
.ecp__tel {
  display: flex;
  justify-content: center;
  height: 45px;
}
.ecp__tel input {
  padding: 0 20px 0 20px;
  width: 210px;
  height: 100%;
  min-height: 45px;
  font-family: latoblack;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #545454;
}
.ecp__tel input::placeholder {
/* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f56542;
  opacity: 1; /* Firefox */
}
.ecp__tel input:-ms-input-placeholder {
/* Internet Explorer 10-11 */
  color: #f56542;
}
.ecp__tel input::-ms-input-placeholder {
/* Microsoft Edge */
  color: #f56542;
}
.ecp__tel button {
  padding: 0 28px 0 28px;
  height: 100%;
  font-family: latoblack;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  background: #f56542;
}
.ecp__features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 45px;
}
.ecp__features li {
  position: relative;
  margin: 25px 13px 25px 13px;
  padding-left: 68px;
  font-family: latoblack;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  color: #34546c;
}
.ecp__features li:before,
.ecp__features li:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 58px;
  height: 58px;
  border-radius: 100%;
  background: #fff url("/img/icon-ecp-sample1.png") center no-repeat;
}
.ecp__features li:after {
  z-index: -1;
  left: -4px;
  width: 66px;
  height: 66px;
  background: rgba(255,255,255,0.5);
}
.ecp__features li:nth-child(2):before {
  background-image: url("/img/icon-ecp-sample2.png");
}
.ecp__features li:nth-child(3):before {
  background-image: url("/img/icon-ecp-sample3.png");
}
.ecp__features li:nth-child(4):before {
  background-image: url("/img/icon-ecp-sample1.png");
}
.ecp__features li:nth-child(5):before {
  background-image: url("/img/icon-ecp-sample3.png");
}
.ecp .fox__wrap {
  position: absolute;
  width: 100%;
  top: -430px;
  z-index: -10;
}
.ecp .fox__wrap .content--fox {
  position: relative;
  z-index: -1;
  top: 0;
  height: 1339px;
  background: url("/img/bg-landscape.jpg") right no-repeat;
  background-size: cover;
  overflow: visible;
}
.ecp .fox__wrap .content--fox:after {
  top: auto;
  bottom: -110px;
  height: 342px;
  background: url("/img/bg-landscape2.png") no-repeat;
  background-size: cover;
}
.ecp .fox__wrap .content--fox .fox {
  left: auto;
  right: 14%;
}
.ecp__dscr {
  margin: 38px 0 40px 0;
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
.ecp__dscr .title {
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  color: #4984ad;
}
.ecp__dscr p {
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
.ecp__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 15px !important;
  padding-bottom: 35px !important;
}
.ecp__links li {
  position: relative;
  padding-left: 55px;
  margin: 25px 15px 5px 15px;
}
.ecp__links li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: url("/img/icon-ecp-sample4.jpg") right center no-repeat;
}
.ecp__links li a {
  display: block;
}
.ecp__links li:nth-child(2):before {
  background-image: url("/img/icon-ecp-sample5.png");
}
.ecp__links li:nth-child(3) {
  padding-left: 82px;
}
.ecp__links li:nth-child(3):before {
  width: 67px;
  background-image: url("/img/icon-ecp-sample6.png");
}
.ecp .checkbox__wrap ul {
  display: flex;
}
.ecp__form1 {
  margin-bottom: 32px;
}
.ecp__form1 .ecp__tel {
  margin: 62px auto 92px auto;
  max-width: 403.5px;
  box-shadow: 0 0 4px rgba(0,0,0,0.7);
}
.ecp__form1 .checkbox__wrap {
  margin: 0 auto;
  max-width: 730px;
}
.ecp__form1 .checkbox__wrap ul {
  background: #fff;
}
.ecp__form1 .checkbox__wrap .title,
.ecp__form1 .checkbox__wrap .title span {
  padding: 5px 0 7px 0;
  font-family: latoblack;
  font-size: 24px;
  line-height: 35.02px;
  text-shadow: #fff 0px -1px 1px, #fff 0px -1px 1px, #fff 0px 1px 1px, #fff 0px 1px 1px, #fff -1px 0px 1px, #fff 1px 0px 1px, #fff -1px 0px 1px, #fff 1px 0px 1px, #fff -1px -1px 1px, #fff 1px -1px 1px, #fff -1px 1px 1px, #fff 1px 1px 1px, #fff -1px -1px 1px, #fff 1px -1px 1px, #fff -1px 1px 1px, #fff 1px 1px 1px;
  text-align: center;
}
.ecp__form1 .checkbox__wrap .title:not(span),
.ecp__form1 .checkbox__wrap .title span:not(span) {
  color: #545454;
}
.ecp__form2 {
  margin: 0 auto;
  max-width: 730px;
  background: #fff;
  border: 1px solid #cacaca;
  border-bottom: none;
}
.ecp__form2 p {
  position: relative;
  z-index: 1;
  margin: 19px 30px 0 30px;
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.ecp__form2 p b {
  color: #545454;
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.ecp__form2 p a {
  color: #4984ad;
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.ecp__form2 p .font-red {
  color: #d76546;
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.ecp__form2 .checkbox__wrap ul {
  padding: 20px 18px 0 18px;
}
.ecp__form2 h2 {
  margin-bottom: 15px;
  padding: 24px 10px 18px 10px;
  text-align: center;
  border-bottom: 1px solid #cacaca;
}
.ecp__form2 h2 span.top,
.ecp__form2 h2 span.bottom {
  display: block;
}
.ecp__form2 h2 span.top {
  font-family: latoblack;
  font-size: 24px;
  color: #545454;
}
.ecp__form2 h2 span.top .font-red {
  font-family: latoblack;
  font-size: 24px;
  line-height: 34px;
}
.ecp__form2 h2 span.bottom {
  font-family: latolight !important;
  font-size: 18px;
  line-height: 28px;
  color: #545454;
  text-transform: uppercase;
}
.ecp__form2__footer {
  display: flex;
  align-items: center;
  padding: 10px 34px 10px 34px;
  min-height: 63px;
  background: #fff0f0;
  border-top: 1px solid #cacaca;
}
.ecp__form2__footer .btn2 {
  margin-right: 15px;
  z-index: 10;
  font-family: latobold;
  font-size: 16px;
  background-color: #dd7f68;
}
.ecp__form2__footer .btn2:before {
  display: none;
}
.ecp__form2__footer .btn2:after {
  z-index: -1;
  background: rgba(221,127,104,0.3);
}
.ecp__form2__footer .result {
  font-family: latobold;
  font-size: 18px;
  color: #545454;
}
.ecp__form2__footer .result span {
  font-family: latoregular;
}
.ecp__steps {
  margin: 87px 0 75px 0;
  text-align: center;
}
.ecp__steps .container > .title,
.ecp__steps .container > .title span {
  font-family: latoblack;
  font-size: 24px;
  line-height: 52.26px;
}
.ecp__steps .container > .title {
  margin-bottom: 45px;
  color: #545454;
}
.ecp__steps ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 27px;
  background: url("/img/bg-ecp-steps.png") no-repeat center 0;
}
.ecp__steps ul li {
  margin-right: 5px;
  padding: 0 10px 0 10px;
  max-width: 250px;
  width: 100%;
}
.ecp__steps ul li .number {
  margin-bottom: 48px;
  font-family: latoregular;
  font-size: 70px;
  color: #fff;
}
.ecp__steps ul li .title {
  margin: 0 auto;
  padding-bottom: 15px;
  font-family: latobold;
  font-size: 18px;
  line-height: 20px;
}
.ecp__steps ul li .text {
  color: #545454;
}
.ecp__steps ul li:nth-child(1) {
  max-width: 180px;
}
.ecp__steps ul li:nth-child(1) .title {
  max-width: 130px;
  color: #ffcd62;
}
.ecp__steps ul li:nth-child(2) .title {
  color: #fe8a8a;
}
.ecp__steps ul li:nth-child(3) {
  max-width: 180px;
}
.ecp__steps ul li:nth-child(3) .title {
  color: #2d87b9;
}
.ecp__map {
  position: relative;
  max-height: 565px;
  height: 565px;
  overflow: hidden;
  box-shadow: inset 0px 6px 6px rgba(0,0,0,0.3);
}
.ecp__map:before,
.ecp__map:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 50%;
  top: -1207px;
  transform: translate(-50%);
  width: 165px;
  height: 165px;
  border: 1500px solid rgba(222,222,222,0.5);
  border-radius: 100%;
  transition: 0.5s;
}
.ecp__map:after {
  top: 285px;
  border: 8px solid #fff;
}
.ecp__map.active:before,
.ecp__map.active:after {
  transform: translate(-50%) scale(2);
  opacity: 0;
}
.ecp__map.active .showMapBtn span:first-child {
  display: none;
}
.ecp__map.active .showMapBtn span:last-child {
  display: block;
}
.ecp__map.active .ecp__tel {
  opacity: 0;
}
.ecp__map.active--additinal .map {
  z-index: 0;
}
.ecp__map.active--additinal .map .ymaps-2-1-64-events-pane {
  box-shadow: inset 0px 6px 6px rgba(0,0,0,0.3);
}
.ecp__map .ecp__tel {
  margin-top: 170px;
  transition: 0.2s;
}
.ecp__map .map {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 565px;
}
.ecp__map .showMapBtn {
  position: absolute;
  z-index: 234;
  top: 360px;
  right: 50%;
  width: 120px;
  transform: translateX(50%);
  color: #fff;
  font-size: 12px;
}
.ecp__map .showMapBtn span {
  font-family: latobold;
}
.ecp__map .showMapBtn span:last-child {
  display: none;
}
.ecp__map .showMapBtn:after {
  background: rgba(255,255,255,0.8);
}
.ecp__form2 a.font-red {
  position: relative;
  z-index: 2;
  display: block;
  margin: 10px 30px 7px 30px;
  font-family: latoblack;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
}
.ecp__stair--none li:before {
  display: none;
}
.ecp__stair li {
  position: relative;
/*&:last-child {
        &:before {
          display: none
        }
      }*/
}
.ecp__stair li:before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 7px;
  top: 11px;
  width: 1px;
  height: 100%;
  background-color: #cbcbcb;
}
.ecp__stair .checkbox {
  display: block;
}
.ecp__stair .checkbox input:not(checked) + label:before {
  top: 3px;
  width: 16px;
  height: 16px;
  transform: none;
  opacity: 1;
  background: url("/img/icon-checkbox2.jpg") no-repeat center;
}
.ecp__stair .checkbox input:not(checked) + label:after,
.ecp__stair .checkbox input:checked + label:after {
  left: 0;
  top: 3px;
  margin-top: 0;
  width: 16px;
  height: 16px;
  transform: none;
  opacity: 1;
  background: url("/img/icon-checkbox2-checked.jpg") no-repeat center;
}
.ecp__stair .checkbox input:not(checked) + label:after {
  opacity: 0;
}
.ecp__stair label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px !important;
  width: 100%;
  background: #fff;
}
.ecp__stair label span {
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
  font-size: 18px;
  color: #4984ad;
}
.ecp__stair label span mark {
  font-family: inherit;
  font-weight: 600;
  color: inherit;
  background: transparent;
}
.ecp__stair label:before,
.ecp__stair label:after {
  z-index: 10;
}
.ecp__stair .forHint .text {
  padding-right: 33px;
}
.ecp__stair .text {
  position: relative;
  z-index: 3;
  padding-right: 15px;
  background: #fff;
/*&:after {
        content: ''
        position: absolute
        z-index: -1
        left: 0
        width: 100%
        height: 100%
        background: #ffffff
      }*/
}
.ecp__stair .text:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: -24px;
  width: 50px;
  height: 14px;
  background: #fff;
}
.ecp__stair .price {
  position: relative;
  z-index: 2;
  padding-left: 10px;
  min-width: 100px;
  background: #fff;
}
.ecp__stair .price::first-letter {
  margin-right: 4px;
}
.ecp__stair .ecp__divider {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 11px;
  width: 100%;
  height: 1px;
  background-color: #cbcbcb;
}
.ecp__level1 {
  margin: 0 30px 0 30px;
}
.ecp__level2 {
  margin-left: 25px;
}
.ecp__level2 .ecp__divider {
  left: -18px;
}
.ecp__level2 li {
  margin-top: 10px;
}
.ecp__level2 li label {
  margin-bottom: 10px;
}
.ecp__level2 > li:last-child:before {
  left: -24px;
  width: 24px;
  background: #fff;
}
.ecp__level3 {
  margin-left: 25px;
}
.ecp__level3 li {
  margin: 0;
}
.ecp__level3 li:before {
  display: none;
}
.ecp__level3 li label {
  margin-bottom: 0;
}
.ecp__level3 > li:last-child:before {
  display: block;
  left: -22px;
  width: 20px;
  background: #fff;
}
.ecp .ecp__search {
  margin-top: 10px;
}
.ecp .ecp__search > ul {
  padding-left: 15px;
  max-height: 190px;
  overflow-y: auto;
  overflow-x: hidden;
  direction: rtl;
/* width */
/* Track */
/* Handle */
/* Handle on hover */
}
.ecp .ecp__search > ul::-webkit-scrollbar {
  width: 9px;
}
.ecp .ecp__search > ul::-webkit-scrollbar-track {
  background-color: #c4c4c4;
  border: 4px solid transparent;
  border-radius: 12px;
  background-clip: content-box;
}
.ecp .ecp__search > ul::-webkit-scrollbar-thumb {
  width: 9px;
  border-radius: 4px;
  background-color: #c4c4c4;
}
.ecp .ecp__search > ul::-webkit-scrollbar-thumb:hover {
  background: #939393;
}
.ecp .ecp__search > ul li {
  direction: ltr;
}
.ecp .ecp__search > ul li:before {
  display: none;
}
.ecp .ecp__search .ecp__divider {
  left: 0;
}
.ecp .ecp__search > input {
  position: static;
  margin-bottom: 12px;
  padding: 0 35px 0 13px;
  max-width: 384px;
  width: 100%;
  height: 33px;
  border-radius: 4px;
  border: 1px solid #ababab;
  opacity: 1;
  color: #787878;
  font-family: Calibri;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  background: url("/img/icon-search.png") no-repeat right center;
  background-size: 19px;
  background-position-x: 98%;
}
.ecp__hint {
  position: absolute;
  z-index: 4;
  overflow: hidden;
  transform: translateY(4px) translateX(-26px);
/*width: 253px
    height: 121px*/
  width: 14px;
  height: 14px;
  border-radius: 100%;
  cursor: default;
  user-select: text;
  background: #fff;
  font-size: 0 !important;
  line-height: 0;
}
.ecp__hint button {
  width: 14px;
  height: 14px;
  background: url("/img/icon-help.png") center no-repeat;
  border-radius: 100%;
  cursor: pointer;
}
.ecp__hint .hint__text {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #545454;
  background-color: #008000;
}
.ecp__hint .hint__text:before {
  display: none;
}
.ecp__hint.active {
  z-index: 5;
  transform: translateY(-5px) translateX(-33px);
  padding: 8px 11px 12px 11px;
  width: 253px;
  height: auto;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background-color: #fcf4c0;
}
.ecp__hint.active button {
  transform: translateX(-5px);
  background-image: url("/img/icon-help-close.png");
}
.ecp__hint.active .hint__text {
  background-color: #fcf4c0;
}
@media (max-width: 1700px) {
  .ecp .fox__wrap .content--fox:after {
    bottom: -80px;
  }
  .ecp .fox__wrap .content--fox .fox {
    right: 9%;
  }
}
@media (max-width: 1470px) {
  .ecp .fox__wrap {
    top: -200px;
  }
  .ecp .fox__wrap .content--fox {
    height: 1000px;
  }
  .ecp .fox__wrap .content--fox:after {
    bottom: -100px;
  }
  .ecp .fox__wrap .content--fox .fox {
    right: 5%;
  }
}
@media (max-width: 1250px) {
  .ecp .fox__wrap .content--fox .fox {
    right: 0;
  }
}
@media (max-width: 900px) {
  .ecp__features {
    background: #fff;
  }
  .ecp .fox__wrap .content--fox:after {
    bottom: -180px;
  }
}
@media (max-width: 727px) {
  .ecp__form2 ul .checkbox--picture:last-child label .text {
    margin-top: 20px;
  }
  .ecp__steps .container > .title {
    margin-bottom: 0 !important;
  }
  .ecp__steps ul {
    flex-direction: column;
    align-items: center;
    background: none;
  }
  .ecp__steps ul li {
    margin-bottom: 40px;
    margin-right: 0;
  }
  .ecp__steps ul li .number {
    margin-bottom: 5px;
    color: #545454;
  }
}
@media (max-width: 700px) {
  .ecp__divider {
    width: 50px !important;
  }
  .ecp__form2 a.font-red {
    margin: 10px 15px 7px 15px;
  }
  .ecp__form2 p {
    margin: 19px 15px 0 15px;
  }
  .ecp__level1 {
    margin: 0 15px 0 15px;
  }
  .ecp__stair label .price:before {
    content: '';
    position: absolute;
    left: -480px;
    top: 10px;
    width: 480px;
    height: 1px;
    background-color: #cbcbcb;
  }
  .ecp__level2 label .price:before,
  .ecp__level3 label .price:before {
    width: 400px;
    left: -400px;
  }
}
@media (max-width: 670px) {
  .ecp__stair label {
    display: block;
  }
  .ecp__stair label .forHint +.price:before {
    left: 0 !important;
  }
  .ecp__stair label .price {
    padding-left: 45px;
  }
  .ecp__stair label .price:before {
    left: 10px;
    top: 10px;
    width: 25px;
  }
  .ecp__stair label .text {
    padding-right: 0;
  }
  .ecp__level2 label .price:before,
  .ecp__level3 label .price:before {
    left: 10px;
    top: 10px;
    width: 25px;
  }
}
@media (max-width: 630px) {
  .ecp .fox__wrap {
    top: -150px;
  }
  .ecp .fox__wrap .content--fox:after {
    bottom: -200px;
  }
  .ecp__features {
    flex-direction: column;
    background: #fff;
  }
  .ecp__form1 .ecp__tel,
  .ecp__form2 .ecp__tel {
    margin-bottom: 150px;
  }
  .ecp__form1 ul .checkbox--picture,
  .ecp__form2 ul .checkbox--picture {
    width: 33.3% !important;
  }
  .ecp__links li {
    padding-left: 82px;
    width: 100%;
  }
  .ecp__links li:before {
    width: 67px;
  }
}
@media (max-width: 560px) {
  .ecp .fox__wrap {
    top: -50px;
  }
  .ecp .fox__wrap .content--fox:after {
    bottom: -220px;
  }
  .ecp__tel {
    flex-direction: column;
    min-height: 90px;
  }
  .ecp__tel input {
    width: 100%;
  }
  .ecp__map .ecp__tel {
    height: 100px;
    margin-top: 135px;
  }
  .ecp__map .ecp__tel input {
    height: 45px;
  }
  .ecp__map .ecp__tel button {
    min-height: 65px;
    line-height: 26px;
  }
}
@media (max-width: 450px) {
  .ecp .fox__wrap {
    top: -45px;
  }
  .ecp .fox__wrap .content--fox .fox {
    bottom: 0;
  }
  .ecp .fox__wrap .content--fox:after {
    bottom: -250px;
  }
}
@media (max-width: 430px) {
  .ecp__title {
    font-size: 25px;
    line-height: 30px;
  }
  .ecp__form1 ul .checkbox--picture,
  .ecp__form2 ul .checkbox--picture {
    width: 50% !important;
  }
}
@media (max-width: 380px) {
  .ecp .fox__wrap .content--fox:after {
    bottom: -270px;
  }
  .ecp .fox__wrap .content--fox .fox {
    bottom: -40px;
  }
}
/*

@media (max-width: 355px) {
    .ecp {
      .fox__wrap {
        .content--fox {
          &:after {
            bottom: -280px
          }
        }
      }
    }
}*/
