/*FEEDBACK BEGIN*/
.innerPage .feedbackPage {
  margin: 0;
}
.innerPage .feedbackPage__content .item {
  margin-bottom: 45px;
}
.innerPage .feedbackPage__content .item:last-child {
  margin-bottom: 0;
}
.innerPage .feedbackPage__content .item .text {
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  line-height: 20px;
}
.innerPage .feedbackPage__content .item .text .name {
  margin-bottom: 3px;
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.innerPage .feedbackPage__content .item .text .job {
  margin-bottom: 14px;
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 16px;
  color: #676767;
}
.innerPage .feedbackPage__content .item .text p {
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.innerPage .feedbackPage__content .item .text p a {
  margin-left: 5px;
}
.innerPage .feedbackPage__content .item .photo {
  position: relative;
  margin-left: 15px;
  min-width: 130px;
  height: 130px;
  border-radius: 100%;
}
.innerPage .feedbackPage__content .item .photo:hover img:nth-child(2) {
  z-index: 10;
}
.innerPage .feedbackPage__content .item .photo img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.innerPage .feedbackPage__content .item .photo img:nth-child(1) {
  z-index: 5;
}
.innerPage .feedbackPage__content .item .photo img:nth-child(2) {
  z-index: 2;
}
.innerPage .feedbackPage .pagination {
  margin: 75px 0 30px 0;
}
.innerPage .feedbackPage #feedbackPage__accordion {
  margin-bottom: 50px;
}
.innerPage .feedbackPage #feedbackPage__accordion .toggler {
  margin: 0 auto;
  margin-top: 4px;
  padding-left: 13px;
  width: 175px;
  background: #4984ad;
}
.innerPage .feedbackPage #feedbackPage__accordion .toggler i {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 19px;
  height: 11px;
  background: url("/img/icon-arrow.png") no-repeat center;
}
.innerPage .feedbackPage #feedbackPage__accordion .content {
  max-height: 0;
  margin-top: -16px;
  padding: 0;
  border: 1px solid #cfcfcf;
  border-bottom: 0;
  overflow: hidden;
  transition: 0.4s ease-out;
}
.innerPage .feedbackPage #feedbackPage__accordion .content.active {
  padding: 52px 0 36px 0;
  max-height: 620px;
  border-bottom: 1px solid #cfcfcf;
}
.innerPage .feedbackPage #feedbackPage__accordion .content .title {
  margin: 0 0 18px 0;
  padding: 0 15px 0 15px;
  font-family: latoregular;
  font-size: 23px;
  line-height: 25px;
  letter-spacing: 0.28px;
  color: #34546c;
  text-align: center;
}
.innerPage .feedbackPage #feedbackPage__accordion .content form.form__submit {
  margin: 0 auto;
  padding: 0;
  width: 475px;
  background: transparent;
}
.innerPage .feedbackPage #feedbackPage__accordion .content form.form__submit:before {
  display: none;
}
.innerPage .feedbackPage #feedbackPage__accordion .content form.form__submit .input__wrap {
  width: 100%;
}
.innerPage .feedbackPage #feedbackPage__accordion .content form.form__submit textarea {
  margin-bottom: 5px;
  padding-left: 15px;
  max-width: 100%;
  width: 100%;
}
.innerPage .feedbackPage #feedbackPage__accordion .content form.form__submit input {
  margin-bottom: 14px;
  padding: 0 5px 0 15px;
  width: 227px;
}
.innerPage .feedbackPage #feedbackPage__accordion .content form.form__submit input.name,
.innerPage .feedbackPage #feedbackPage__accordion .content form.form__submit input.tel {
  padding: 0 5px 0 40px;
}
.innerPage .feedbackPage #feedbackPage__accordion .content form.form__submit .flex3 {
  width: 100%;
}
.innerPage .feedbackPage #feedbackPage__accordion .content form.form__submit .agreement {
  margin-right: 15px;
}
.innerPage .feedbackPage #feedbackPage__accordion .content form.form__submit .attach__wrap {
  position: relative;
  width: 145px;
  text-align: right;
  cursor: pointer !important;
}
.innerPage .feedbackPage #feedbackPage__accordion .content form.form__submit .attach__wrap:before {
  content: '';
  position: absolute;
  left: 0;
  top: 45%;
  transform: translateY(-50%);
  width: 15px;
  height: 16px;
  background: url("/img/icon-attach.png");
}
.innerPage .feedbackPage #feedbackPage__accordion .content form.form__submit .attach__wrap input {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer !important;
}
.innerPage .feedbackPage #feedbackPage__accordion .content form.form__submit .attach__wrap span {
  font-family: Calibri;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: underline;
  letter-spacing: 0.19px;
  color: #666;
}
.innerPage .feedbackPage #feedbackPage__accordion .content form.form__submit .attach__wrap span:hover {
  text-decoration: none;
}
.innerPage .feedbackPage #feedbackPage__accordion .content form.form__submit button[type='submit'] {
  margin-top: 22px;
}
.innerPage .feedbackPage #feedbackPage__accordion .content form.form__submit button[type='submit']:before {
  z-index: 3;
}
.innerPage .feedbackPage #feedbackPage__accordion .content form.form__submit button[type='submit']:after {
  z-index: 2;
}
.innerPage .feedbackPage #feedbackPage__accordion .content form.form__submit button[type='submit'] span {
  position: relative;
  z-index: 5;
}
@media (max-width: 565px) {
  .innerPage .feedbackPage .content {
    width: 100%;
  }
  .innerPage .feedbackPage .content form.form__submit {
    padding: 0 15px 0 15px !important;
    max-width: 100%;
    min-width: 100%;
  }
  .innerPage .feedbackPage .content form.form__submit .input__wrap {
    flex-direction: column;
  }
  .innerPage .feedbackPage .content form.form__submit input {
    max-width: 100%;
    width: 100% !important;
  }
  .innerPage .feedbackPage .content form.form__submit textarea {
    width: 100%;
  }
}
@media (max-width: 460px) {
  .innerPage .feedbackPage .content form.form__submit .flex3 {
    flex-direction: column-reverse;
  }
  .innerPage .feedbackPage__content .item {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #cfcfcf;
  }
  .innerPage .feedbackPage__content .item:last-child {
    padding-bottom: 0;
    border: none;
  }
  .innerPage .feedbackPage__content .item .photo {
    margin-bottom: 15px;
  }
}
/*FEEDBACK END*/
