/*INDEXPAGEFIRSTSCREEN BEGIN*/
.indexpagefirstscreen {
  margin-top: -135px;
  padding-top: 225px;
  min-height: 845px;
  background: url("/img/bg-indexpagefirstscreen.jpg") center no-repeat;
}
.indexpagefirstscreen .single-item {
  position: relative;
  transform: translate(-140px);
  width: 1280px;
  background-color: #c4d2e1;
}
.indexpagefirstscreen .single-item:before {
  content: '';
  position: absolute;
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: -10px;
  background: rgba(255,255,255,0.5);
}
.indexpagefirstscreen .single-item .item {
  width: 100%;
  height: 510px;
}
.indexpagefirstscreen .single-item .item:nth-child(1) {
  background-color: #c4d2e1;
}
.indexpagefirstscreen .single-item .item:nth-child(2) {
  background: #0f73b9;
}
.indexpagefirstscreen .single-item .item:nth-child(3) {
  background: #fff8dc;
}
.indexpagefirstscreen .single-item .item:nth-child(4) {
  background: #d2691e;
}
.indexpagefirstscreen .single-item .item:nth-child(5) {
  background: #e9967a;
}
.indexpagefirstscreen .single-item ul.slick-dots {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
}
.indexpagefirstscreen .single-item ul.slick-dots:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 161px;
  height: 37px;
  background: #edf1f6;
}
.indexpagefirstscreen .single-item ul.slick-dots:after {
  content: '';
  position: absolute;
  right: 125px;
  bottom: 0;
  border-left: 37px solid transparent;
  border-right: 37px solid transparent;
  border-bottom: 37px solid #edf1f6;
}
.indexpagefirstscreen .single-item ul.slick-dots li {
  position: relative;
  z-index: 10;
  margin: 13px 0px 13px 9px;
}
.indexpagefirstscreen .single-item ul.slick-dots li:last-child {
  margin-right: 33px;
}
.indexpagefirstscreen .single-item ul.slick-dots li.slick-active button {
  background-position: -36px 0;
}
.indexpagefirstscreen .single-item ul.slick-dots li button {
  width: 13px;
  height: 13px;
  background: url("/img/iconset-slider.png") -16px 0;
  font-size: 0;
  line-height: 0;
}
.indexpagefirstscreen .single-item .slick-next,
.indexpagefirstscreen .single-item .slick-prev {
  position: absolute;
  z-index: 10;
  bottom: 13px;
  right: 142px;
  width: 9px;
  height: 13px;
  background: url("/img/iconset-slider.png");
}
.indexpagefirstscreen .single-item .slick-next {
  right: 15px;
  transform: rotate(180deg);
}
.indexpagefirstscreen .single-item-mob--js {
  display: none;
}
@media (max-width: 1320px) {
  .indexpagefirstscreen .single-item {
    width: 100%;
    transform: none;
  }
}
@media (max-width: 850px) {
  .indexpagefirstscreen {
    margin-top: -185px;
    padding-top: 275px;
  }
  .indexpagefirstscreen .single-item .item {
    height: 420px;
  }
}
@media (max-width: 730px) {
  .indexpagefirstscreen {
    margin-top: -200px;
    padding-top: 290px;
  }
}
@media (max-width: 450px) {
  .indexpagefirstscreen {
    margin-top: -255px;
    padding-top: 345px;
  }
  .indexpagefirstscreen .single-item-desk--js {
    display: none;
  }
  .indexpagefirstscreen .single-item-mob--js {
    display: block;
  }
}
@media (max-width: 430px) {
  .indexpagefirstscreen {
    margin-top: -345px;
    padding-top: 380px;
  }
}
/*INDEXPAGEFIRSTSCREEN END*/
/*MAINFIELDS BEGIN*/
.mainfield {
  position: relative;
  margin-bottom: 130px;
  padding-bottom: 85px;
  background: #f8fbfd;
}
.mainfield:before {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -20px;
  right: -20px;
  height: 20px;
  box-shadow: inset 0px -20px 10px -20px rgba(0,0,0,0.16);
}
.mainfield h2 {
  margin: 0 0 105px 0;
  padding-top: 75px;
  text-align: center;
  font-family: latobold;
  font-size: 52px;
  line-height: 60px;
  color: #717171;
  text-transform: uppercase;
}
.mainfield #tabs {
  box-shadow: -1px 1px 26px rgba(0,0,0,0.4);
  background: #fff;
}
.mainfield #tabs .tabs__title__wrap {
  position: relative;
}
.mainfield #tabs .tabs__title__wrap:before {
  content: '';
  position: absolute;
  top: -41px;
  right: 40px;
  left: 40px;
  height: 10px;
  box-shadow: -1px 1px 26px rgba(0,0,0,0.4);
}
.mainfield #tabs .tabs__title__wrap:after {
  content: '';
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100px;
  background: #fff;
}
.mainfield #tabs .tabs__title__wrap .forshadow {
  position: absolute;
  width: 100%;
  height: 40px;
  background: #fff;
}
.mainfield #tabs .tabs__title__wrap .forshadow:before {
  content: '';
  position: absolute;
  top: -26px;
  right: 11px;
  width: 50px;
  height: 50px;
  box-shadow: -1px 1px 26px rgba(0,0,0,0.4);
  transform: rotate(45deg);
}
.mainfield #tabs .tabs__title__wrap .forshadow:after {
  content: '';
  position: absolute;
  top: -27px;
  left: 16px;
  width: 50px;
  height: 50px;
  box-shadow: -1px 1px 26px rgba(0,0,0,0.4);
  transform: rotate(45deg);
}
.mainfield #tabs .tabs__title {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -41px;
  min-height: 41px;
  overflow: hidden;
}
.mainfield #tabs .tabs__title li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainfield #tabs .tabs__title li:before {
  content: '';
  position: absolute;
  z-index: 10;
  left: -10px;
  width: 150px;
  height: 41px;
  background: #ccc;
}
.mainfield #tabs .tabs__title li:after {
  content: '';
  position: absolute;
  z-index: -10;
  right: 3px;
  width: 100px;
  height: 400px;
  background: #000;
  transform: rotate(-45deg);
  box-shadow: -1px 1px 26px rgba(0,0,0,0.4);
}
.mainfield #tabs .tabs__title li:nth-child(1) a {
  z-index: 30;
  padding: 5px 17px 0 45px;
}
.mainfield #tabs .tabs__title li:nth-child(1) a:before {
  left: 50px;
  background-color: #8b008b;
}
.mainfield #tabs .tabs__title li:nth-child(1):before {
  z-index: 30;
  top: -24px !important;
  left: 10px !important;
  height: 100px !important;
  transform: rotate(-45deg);
  background-color: #8b008b;
  box-shadow: none !important;
}
.mainfield #tabs .tabs__title li:nth-child(1):after {
  z-index: 25;
  width: 60px;
  right: 0;
  background-color: #8b008b;
}
.mainfield #tabs .tabs__title li:nth-child(2) a {
  z-index: 22;
}
.mainfield #tabs .tabs__title li:nth-child(2) a:before {
  background-color: #7ac6df;
}
.mainfield #tabs .tabs__title li:nth-child(2):before {
  background-color: #7ac6df;
}
.mainfield #tabs .tabs__title li:nth-child(2):after {
  z-index: 20;
  background-color: #7ac6df;
}
.mainfield #tabs .tabs__title li:nth-child(3) a {
  z-index: 18;
}
.mainfield #tabs .tabs__title li:nth-child(3) a:before {
  background-color: #48a0bd;
}
.mainfield #tabs .tabs__title li:nth-child(3):before {
  background-color: #48a0bd;
}
.mainfield #tabs .tabs__title li:nth-child(3):after {
  z-index: 16;
  background-color: #48a0bd;
}
.mainfield #tabs .tabs__title li:nth-child(4) a {
  z-index: 14;
}
.mainfield #tabs .tabs__title li:nth-child(4) a:before {
  background-color: #42c0c5;
}
.mainfield #tabs .tabs__title li:nth-child(4):before {
  background-color: #42c0c5;
}
.mainfield #tabs .tabs__title li:nth-child(4):after {
  z-index: 12;
  right: -4px;
  width: 50px;
  background-color: #42c0c5;
}
.mainfield #tabs .tabs__title li:nth-child(5) a {
  z-index: 10;
  padding: 5px 43px 0 39px;
}
.mainfield #tabs .tabs__title li:nth-child(5) a:before {
  left: -40px;
  background-color: #14968e;
}
.mainfield #tabs .tabs__title li:nth-child(5):before {
  left: -70px;
  background-color: #14968e;
}
.mainfield #tabs .tabs__title li:nth-child(5):after {
  z-index: 2;
  right: 40px;
  background-color: #14968e;
  box-shadow: none;
}
.mainfield #tabs .tabs__title li.prev:after {
  right: -100px;
  width: 140px;
  box-shadow: none;
  transform: none;
}
.mainfield #tabs .tabs__title li.ui-tabs-active:nth-child(1):before {
  top: 2px !important;
}
.mainfield #tabs .tabs__title li.ui-tabs-active:nth-child(4):before {
  left: -20px;
  width: 50px;
}
.mainfield #tabs .tabs__title li.ui-tabs-active:nth-child(5):before {
  left: -20px;
  width: 40px;
}
.mainfield #tabs .tabs__title li.ui-tabs-active:nth-child(5) a:before {
  left: 30px;
  width: 70px;
}
.mainfield #tabs .tabs__title li.ui-tabs-active:before,
.mainfield #tabs .tabs__title li.ui-tabs-active:after {
  background: #fff;
}
.mainfield #tabs .tabs__title li.ui-tabs-active:before {
  z-index: 100;
  top: -145px;
  width: 100px;
  height: 400px;
  transform: rotate(45deg);
  box-shadow: -1px 1px 26px rgba(0,0,0,0.4);
}
.mainfield #tabs .tabs__title li.ui-tabs-active a {
  z-index: 200;
  color: #5d5d5d;
}
.mainfield #tabs .tabs__title li.ui-tabs-active a:before {
  background: #fff;
}
.mainfield #tabs .tabs__title li a {
  position: relative;
  padding: 5px 24px 0 39px;
  width: 100%;
  height: 100%;
  font-family: latoregular;
  font-size: 22px;
  color: #fff;
  text-decoration: none;
}
.mainfield #tabs .tabs__title li a:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -5px;
  left: 35px;
  right: 35px;
  max-width: 100%;
  height: 120%;
  background: #7ac6df;
}
.mainfield #tabs .tabs__content {
  position: relative;
  z-index: 100;
  background: #fff;
}
.mainfield #tabs .tabs__content > div {
  padding: 0 0 40px 0;
}
.mainfield #tabs .tabs__content h3 {
  display: block;
  width: 228px;
  font-family: latoblack;
  font-size: 25px;
  line-height: 25px;
  color: #6197a2;
  letter-spacing: 0.3px;
}
.mainfield #tabs .tabs__content h3 span {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.mainfield #tabs .tabs__content .divider.left.right {
  margin: 0;
  margin-bottom: 30px;
}
.mainfield #tabs .tabs__content b {
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #3a3a3a;
}
.mainfield #tabs .tabs__content p {
  font-family: Calibri;
  font-size: 16px;
  line-height: 20px;
  color: #3a3a3a;
}
.mainfield #tabs .tabs__content p b {
  font-size: inherit;
  line-height: inherit;
}
.mainfield #tabs .tabs__content .divider {
  margin: 44px 0 44px 0;
}
.mainfield #tabs .tabs__content #tabs-1 > .flex_row__start .left img {
  margin-left: 5px;
  margin-right: 20px;
}
.mainfield #tabs .tabs__content #tabs-1 > .flex_row__start .right b {
  font-size: 18px;
}
.mainfield #tabs .tabs__content #tabs-1 > .flex_row__start .right p {
  padding-right: 40px;
}
.mainfield #tabs .tabs__content #tabs-1 > .flex_row__start .right .companylife {
  display: block;
  margin-top: 18px;
}
.mainfield #tabs .tabs__content #tabs-1 ul.features li {
  margin: 0 10px 20px 10px;
  padding-top: 70px;
  width: 75px;
  font-family: latoregular;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #4373aa;
  background: url("/img/iconset-features.jpg") no-repeat;
  background-position: 12px 0;
}
.mainfield #tabs .tabs__content #tabs-1 ul.features li:nth-child(2) {
  background-position: -122px 0;
}
.mainfield #tabs .tabs__content #tabs-1 ul.features li:nth-child(3) {
  background-position: -260px 0;
}
.mainfield {
  min-height: 500px;
  overflow: hidden;
}
.mainfield h2 {
  position: relative;
  z-index: 100;
}
.mainfield .fillers {
  position: absolute;
  min-width: 1304px;
}
.mainfield .shape1,
.mainfield .shape2,
.mainfield .shape3,
.mainfield .circle1,
.mainfield .circle2 {
  position: absolute;
  width: 300px;
  height: 300px;
}
.mainfield .shape1:before,
.mainfield .shape2:before,
.mainfield .shape3:before,
.mainfield .circle1:before,
.mainfield .circle2:before,
.mainfield .shape1:after,
.mainfield .shape2:after,
.mainfield .shape3:after,
.mainfield .circle1:after,
.mainfield .circle2:after {
  content: '';
  position: absolute;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
}
.mainfield .shape1 {
  width: 100%;
  height: 100%;
}
.mainfield .shape1:before {
  z-index: 1;
  left: -40px;
  top: 780px;
  background-image: url("/img/shape1.png");
}
.mainfield .shape1:after {
  z-index: 1;
  right: -375px;
  top: 320px;
  background-image: url("/img/shape1.png");
}
.mainfield .shape2 {
  width: 100%;
  height: 100%;
}
.mainfield .shape2:before {
  z-index: 1;
  transform: translateX(750px);
  top: 440px;
  background-image: url("/img/shape3.png");
}
.mainfield .shape3 {
  width: 100%;
  height: 100%;
}
.mainfield .shape3:before {
  z-index: 1;
  left: -500px;
  top: 550px;
  background-image: url("/img/shape2.png");
}
.mainfield .shape3:after {
  z-index: 1;
  transform: translateX(1320px);
  top: 80px;
  background-image: url("/img/shape2.png");
}
.mainfield .circle1:before {
  top: -350px;
  left: -262px;
  width: 1530px;
  height: 1530px;
  border: 1px solid #e7eef3;
  border-radius: 100%;
}
.mainfield .circle1:after {
  top: -220px;
  left: -135px;
  width: 1260px;
  height: 1260px;
  border: 2px solid #e7eff3;
  border-radius: 100%;
}
.mainfield .circle2:before {
  top: 155px;
  margin-left: 145px;
  width: 730px;
  height: 544px;
  border: 2px solid #e7eff3;
  border-radius: 100%;
}
@media (max-width: 1040px) {
  .mainfield .fillers .circle1,
  .mainfield .fillers .circle2 {
    display: none;
  }
  .mainfield h2 {
    margin-bottom: 80px;
  }
  .mainfield #tabs .tabs__title__wrap .forshadow:before {
    top: -40px;
    right: 0px;
    transform: none;
  }
  .mainfield #tabs .tabs__title__wrap:after {
    height: 200px;
  }
  .mainfield #tabs .tabs__title {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .mainfield #tabs .tabs__title li {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 50%;
    min-height: 41px;
    overflow: hidden;
  }
  .mainfield #tabs .tabs__title li:before {
    z-index: 5;
    height: 100px;
  }
  .mainfield #tabs .tabs__title li:not(:first-child):before {
    width: 100px !important;
    transform: none;
  }
  .mainfield #tabs .tabs__title li a {
    display: flex;
    align-items: center;
    padding-top: 7px !important;
    padding-right: 20px !important;
    padding-bottom: 7px !important;
  }
  .mainfield #tabs .tabs__title li:after {
    z-index: 3 !important;
    width: 200px !important;
    height: 200px !important;
  }
  .mainfield #tabs .tabs__title li:last-child:after {
    top: -101px;
  }
}
@media (max-width: 970px) {
  .mainfield {
    margin-bottom: 85px;
  }
}
@media (max-width: 770px) {
  .mainfield #tabs-1 > .flex_row__start {
    flex-direction: column;
  }
  .mainfield #tabs-1 > .flex_row__start .left img {
    margin-left: 0 !important;
    margin-bottom: 10px;
  }
  .mainfield #tabs-1 > .flex_row__start .right p {
    padding-right: 0 !important;
  }
  .mainfield #tabs-1 ul.features {
    flex-wrap: wrap;
  }
}
@media (max-width: 580px) {
  .mainfield h2 {
    padding-top: 60px;
    font-size: 35px !important;
    line-height: 45px;
  }
  .mainfield #tabs .tabs__title li {
    width: 100%;
  }
}
.mainfield .tabs__content {
  overflow: hidden;
}
.mainfield .tabs__content > div {
  padding-left: 35px !important;
  padding-right: 35px !important;
}
.mainfield .tabs__content > div .divider {
  margin-left: -80px !important;
  width: 200%;
}
.mainfield .divider2.right.left {
  overflow: visible;
}
.mainfield h3 {
  display: inline-block;
  width: auto !important;
  max-width: 100%;
  text-align: center;
}
.mainfield .divider2.right.left {
  margin-bottom: 28px;
}
.mainfield .tabs__content h3 {
  margin: 0 auto;
}
.mainfield .tabs__content > div > h3 {
  margin-bottom: 28px;
}
.mainfield .tabs__content #tabs-2 {
  padding-bottom: 0 !important;
}
.mainfield .tabs__content #tabs-2 #tabs-ver-2 .table1 {
  margin-bottom: 18px;
  width: 90%;
}
.mainfield .tabs__content #tabs-2 #tabs-ver-2 .table1 tr:nth-child(1) td {
  text-align: center;
  padding-left: 15px;
}
.mainfield .tabs__content #tabs-2 #tabs-ver-2 .table1 tr:nth-child(1) td b {
  text-decoration: underline;
}
.mainfield .tabs__content #tabs-2 #tabs-ver-2 .table1 td {
  padding-left: 30px;
}
.mainfield .tabs__content #tabs-2 #tabs-ver-2 .table1 td ul {
  margin: 10px 0 13px 0;
}
.mainfield .tabs__content #tabs-2 #tabs-ver-2 .table1 td ul li {
  margin: 9px 0 9px 0;
}
.mainfield .tabs__content #tabs-2 #tabs-ver-2 .table1 td img {
  margin: 0 30px 0 0;
}
.mainfield .header__catalog {
  margin-top: -10px;
}
.mainfield .header__catalog .content {
  position: static;
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
  width: 100%;
}
.mainfield .header__catalog .content:before,
.mainfield .header__catalog .content:after {
  display: none;
}
.mainfield .header__catalog .content ul {
  margin-right: 50px;
}
.mainfield img {
  max-width: none !important;
}
.mainfield #tabs-2 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.mainfield #tabs-4 > .flex_row__start img {
  margin-top: -20px;
}
.mainfield #tabs-4 > .flex_row__start img,
.mainfield #tabs-5 > .flex_row__start img {
  margin-right: 20px;
}
.mainfield #tabs-4 .list--checked + .btn3,
.mainfield #tabs-5 .list--checked + .btn3 {
  margin-top: 13px;
  margin-left: 24px;
}
@media (max-width: 850px) {
  .mainfield .tabs__content > div {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
@media (max-width: 710px) {
  .mainfield .tabs__content #tabs-2 {
    padding-bottom: 0 !important;
  }
  .mainfield .tabs__content #tabs-2 #tabs-ver-2 .table1 {
    width: 100%;
  }
  .mainfield #tabs-4 > .flex_row__start,
  .mainfield #tabs-5 > .flex_row__start {
    display: block;
  }
  .mainfield #tabs-4 > .flex_row__start > div,
  .mainfield #tabs-5 > .flex_row__start > div {
    float: left;
  }
}
@media (max-width: 550px) {
  .mainfield .header__catalog .content {
    padding: 0;
    border: none;
  }
  .mainfield .header__catalog .content ul {
    margin-right: 0;
  }
  .mainfield #tabs-4 > .flex_row__start,
  .mainfield #tabs-5 > .flex_row__start {
    display: flex;
    flex-direction: column;
  }
  .mainfield #tabs-4 > .flex_row__start > div,
  .mainfield #tabs-5 > .flex_row__start > div {
    float: none;
    margin-bottom: 10px;
  }
  .mainfield #tabs-4 > .flex_row__start > div img,
  .mainfield #tabs-5 > .flex_row__start > div img {
    margin-top: 0;
    margin-right: 0;
    max-width: 100% !important;
  }
}
/*MAINFIELDS END*/
/*feedback begin*/
.feedback {
  margin-bottom: 146px;
}
.feedback form {
  margin-right: 50px;
}
.feedback form:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: -6px;
  right: -6px;
  top: -6px;
  bottom: -6px;
  background-image: linear-gradient(to bottom, #5ab6e8 0%, #00c6b5 100%);
}
.feedback form button {
  margin-top: 10px;
  margin-bottom: -25px;
  padding-right: 35px;
  width: 223px;
  height: 50px;
  font-family: latobold;
  font-size: 18px;
  color: #fefefe;
  background: url("/img/icon-submit.png");
}
.feedback .right .logo img {
  min-width: 150px;
  height: 68px;
}
.feedback .right .features {
  margin-top: 30px;
  margin-bottom: 30px;
}
.feedback .right .features ul {
  margin-right: 20px;
}
.feedback .right .features ul:last-child {
  margin-right: 0;
}
.feedback .right .features ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
}
.feedback .right .features ul li:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 19px;
  height: 19px;
  border: 2px solid #f46163;
  border-radius: 100px;
}
.feedback .right .features ul li:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7px;
  width: 9px;
  height: 9px;
  background: #2a6bb0;
  border-radius: 100px;
}
.feedback .right .links {
  padding: 14px 0 14px 0;
}
.feedback .right .links a {
  position: relative;
  margin-right: 35px;
  padding-left: 35px;
}
.feedback .right .links a:before {
  content: '';
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("/img/iconset-links.jpg") no-repeat 3px 0;
}
.feedback .right .links a:nth-child(2):before {
  background-position: -160px 0;
}
.feedback .right .links a:nth-child(3):before {
  background-position: -399px 0;
}
@media (max-width: 970px) {
  .feedback {
    margin-bottom: 85px;
  }
  .feedback .container > .flex_row__between {
    flex-direction: column;
    align-items: center;
  }
  .feedback form {
    margin-right: 0;
  }
  .feedback .right {
    margin-top: 35px;
  }
  .feedback .features {
    justify-content: space-around;
  }
  .feedback .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .feedback .links a {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
@media (max-width: 480px) {
  .feedback .features {
    flex-direction: column;
  }
  .feedback .features ul {
    margin-right: 0;
  }
  .feedback .links {
    justify-content: flex-start;
  }
}
/*FEEDBACK END*/
