/*LICENCE BEGIN*/
.innerPage {
  margin-bottom: 40px;
}
.innerPage .license__img {
  position: relative;
  min-width: 172px;
  width: 172px;
  height: 243px;
}
.innerPage .license__img button {
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 32px;
  height: 32px;
  background: url("/img/icon-loup.png") center;
  background-size: cover;
  border-radius: 100%;
}
.innerPage .license__img img {
  width: 172px;
  height: 100%;
  border: 1px solid #a9a9a9;
}
.innerPage .license ul {
  display: flex;
  flex-wrap: wrap;
}
.innerPage .license ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 34px;
  width: 33.3%;
/*&:nth-child(3n) {
          margin-right: 0
        }*/
}
.innerPage .license ul li a {
  display: block;
  margin-top: 6px;
  width: 172px;
  font-family: Calibri;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #4373aa;
  text-align: center;
}
.innerPage .license .pagination {
  margin-top: 25px;
  margin-bottom: 30px;
}
.innerPage .license-inner .license__img {
  margin: 0 35px 0 20px;
}
.innerPage .license-inner .text {
  width: 100%;
}
.innerPage .license-inner .text div {
  margin-bottom: 20px;
  font-family: Calibri;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.innerPage .license-inner .text span {
  display: block;
}
@media (max-width: 1050px) {
  .innerPage .license ul li {
    width: 25%;
  }
}
@media (max-width: 850px) {
  .innerPage .license ul li {
    width: 33.3%;
  }
}
@media (max-width: 670px) {
  .innerPage .license-inner > .flex_row__start {
    display: block;
  }
  .innerPage .license-inner .license__img {
    float: left;
    margin-bottom: 10px;
  }
  .innerPage .license-inner .text span {
    display: inline;
  }
}
@media (max-width: 620px) {
  .innerPage .license ul li {
    width: 50%;
  }
}
@media (max-width: 470px) {
  .innerPage .license-inner .license__img {
    margin-bottom: 25px;
    float: none;
  }
}
@media (max-width: 420px) {
  .innerPage .license ul li {
    width: 100%;
  }
}
/*LICENCE END*/
