/*ABOUT BEGIN*/
.innerPage {
  .about {
    &__who {
      display: flex
      //flex-wrap: wrap
      .item {
        min-width: 220px
        width: 220px
        margin: 0 15px 0 15px
        &:last-child {
          margin-right: 0
        }
        .photo {
          position: relative
          width: 220px
          height: 244px
          &:before {
            content: ''
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            //width: 220px
            height: 55px
            background: rgba(0, 0, 0, 0.4)
          }
          span {
            position: absolute
            bottom: 18px
            left: 0
            width: 100%
            font-family: latoblack
            font-size: 18px
            font-weight: 400
            text-align: center
            color: #ffffff
          }
        }
        .text {
          &, b, p {
            font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
            color: #3a3a3a
          }
          b {
            display: block
            margin: 17px 0 10px 0
          }
          p {
            line-height: 20px
          }
        }
      }
    }

    &__features {
      margin-top: 20px
      margin-bottom: 50px
      .item {
        display: flex
        align-items: center
        padding: 50px 0 30px 0
        min-height: 200px
        border-top: 1px solid #ebebeb
        .title {
          display: block
          margin-bottom: 25px
          font-family: latoblack
          font-size: 20px
          font-weight: 400
          line-height: 28px
          color: #4482af
          text-decoration: underline
          text-transform: uppercase
          text-align: center
        }
        ul {
          display: flex
          justify-content: center
          flex-wrap: wrap
          li,
          li a {
            font-family: latoregular
            font-size: 16px
            line-height: 20px
            color: #4373aa
          }
          li {
            margin-bottom: 25px !important
          }
        }
        &#fields {
          ul {
            li {
              margin: 0 12px 0 12px
            }
          }
        }
        &#achievements {
          ul {
            li {
              margin: 0 20px 20px 20px
              padding-top: 70px
              width: 75px
              text-align: center
              background: url(/img/iconset-features.jpg) no-repeat
              background-position: 12px 0
              &:nth-child(2) {
                background-position: -122px 0
              }
              &:nth-child(3) {
                background-position: -260px 0
              }
            }
          }
        }
        &#clients {
          ul {
            li {
              margin: 0 25px 0 25px
            }
          }
        }
        &#certificates {
          ul {
            li {
              margin: 0 15px 0 15px
              img {
                width: 97px
                height: 137px
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .innerPage {
    .about {
      &__who {
        flex-wrap: wrap
        justify-content: center
        .item {
          margin-bottom: 40px
          &:last-child {
            margin: 0 15px 30px 15px
          }
        }
      }
    }
  }
}

@media (max-width: 785px) {
  .innerPage {
    .about {
      &__who {
        .item {
          padding-bottom: 40px
          width: 100%
          border-bottom: 1px solid #cfcfcf
          &:last-child {
            border: none
          }
        }
      }
    }
  }
}
/*ABOUT END*/