@font-face {
  font-family: 'TimesNewRomanPSMT'
  src: url('/fonts/TimesNewRomanPSMT.ttf')
}
@font-face {
  font-family: 'Calibri'
  src: url('/fonts/Calibri.ttf')
}
@font-face {
  font-family: 'calibri'
  src: url('/fonts/Calibri.ttf')
}
@font-face {
  font-family: 'latoblack'
  src: url('/fonts/latoblack.ttf')
}
@font-face {
  font-family: 'latobold'
  src: url('/fonts/latobold.ttf')
}
@font-face {
  font-family: 'latoregular'
  src: url('/fonts/latoregular.ttf')
}
@font-face {
  font-family: 'latolight'
  src: url('/fonts/latolight.ttf')
}

* {
  font-family: latoregular
}

html,
body {
  //height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  //height: 100%;
}
.toPushFooter {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  margin: 0 auto
  padding: 0 15px 0 15px
  max-width: 1030px
  width: 100%
}

a {
  color: #0f73b9
  text-decoration: underline
  &:hover {
    text-decoration: none
  }
}

.innerPage__title {
  margin-top: 40px
  font-family: latoblack
  font-size: 26px
  line-height: 32px
  color: #34546c
}

.crumbs {
  margin-bottom: 40px//25px
  a {
    font-family: latoregular
    font-size: 16px
    line-height: 32px
    color: #000000;
    &.current {
      pointer-events: none
      cursor: default
      text-decoration: none
    }
  }
  .slash {
    margin: 0 4px 0 4px
    font-family: TimesNewRomanPSMT
    &:before {
      display: none
    }
  }
}

.slash {
  &:before {
    content: '/'
    margin: 0 5px 0 5px
  }
}



form.form__submit {
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  padding: 10px 30px 0 30px
  min-width: 290px
  width: 300px
  background: #ffffff
  h3 {
    margin: 13px 0 20px 0
    font-family: latoblack
    font-size: 23px
    line-height: 25px
    color: #5a7eba
  }
  input,
  textarea {
    margin-bottom: 17px
    padding: 0 5px 0 40px
    max-width: 227px
    width: 100%
    height: 40px
    border: 1px solid #ababab
    border-radius: 4px
    font-family: latoregular
    font-size: 16px
    line-height: 25px
    box-sizing border-box
    &::placeholder {
      color: #666666;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: #666666;
    }

    &::-ms-input-placeholder {
      color: #666666;
    }
  }
  .input {
    position: relative
    &:before {
      content: ''
      position: absolute
      top: 0
      left: 15px
      width: 17px
      height: 17px
      background: black
    }
  }
  input {
    &.name,
    &.tel {
      background: #ffffff url(/img/iconset-feedback1.jpg) no-repeat 12px 10px
    }
    &.tel {
      background-position: 12px -46px
    }
  }
  textarea {
    padding: 5px 12px 5px 12px
    height: 105px
    resize: none
  }

  .agreement {
    color: #848586
    font-family: latoregular
    font-size: 12px
    line-height: 25px
    a {
      color: #848586
    }
    label {
      padding-left: 22px
      &:before {
        top: -1px
      }
    }
    input:not(checked) + label:before {
      top: 4px
      width: 15px
      height: 15px
      background: url(/img/icon-checkbox.png) no-repeat
      background-size: cover
      border-radius: 0
    }
    input:not(checked) + label:after {
      top: 50%;
      margin-top: -6px;
      left: 5px;
      width: 3px;
      height: 6px;
      background: transparent
      border-right: 1px solid #ffffff
      border-bottom: 1px solid #ffffff
      border-radius: 0
      transform: rotate(45deg)
    }
    input[type='checkbox'] {
      height: 0
    }
  }
}


.pagination {
  display: flex
  justify-content: center
  flex-wrap: wrap
  margin: 0 10px 76px 10px
  .pag {
    display: flex
    justify-content: center
    align-items: center
    margin: 5px
    min-width: 40px
    height: 40px
    line-height: 40px
    font-size: 20px
    color: #000000
    text-decoration: none
    border: 1px solid rgba(216, 216, 216, 0.8)
    &.arrow {
      padding-bottom: 3px
      font-family: TimesNewRomanPSMT
    }
    &:hover {
      border: 1px solid rgba(67, 115, 170, 0.8)
    }
    &.active {
      border: 1px solid rgba(67, 115, 170, 0.8)
    }
  }
}

#topmenu__burger {
  display: none
  position: relative
  width: 100%
  height: 55px
  background: rgba(67,115,170,0.4)
  .burger {
    top: 50%
    left: 0
    &.active {
      i {
        background: transparent
      }
    }
    i {
      background: white
      &:before,
      &:after {
        background: white
      }
    }
  }
}

@media (max-width: 430px) {
  #topmenu__burger {
    position: static !important
    display: block
    .burger {
      //position: static
    }
  }
}


.btn2 {
  position: relative
  width: 103px
  height: 35px
  font-size: 16px
  line-height: 35px
  color: #ffffff
  border-radius: 4px
  background-color: #6dadda
  cursor: pointer
  text-transform: uppercase
  &:before {
    content: ''
    position: absolute
    z-index: -1
    left: 0
    top: 0
    bottom: -5px
    width: 100%
    height: 35px
    background-color: #4984ad;
    border-radius: 4px
  }
  &:after {
    content: ''
    position: absolute
    z-index: -2
    left: -4px
    right: -4px
    top: -4px
    bottom: -4px
    background-color: #b3cada
    border-radius: 4px
  }
  &--red {
    z-index: 0
    padding: 0 14px 0 14px
    width: auto
    background: rgba(221, 127, 104, 0.4)
    &:before {
      background-color: #dd7f68
    }
    &:after {
      z-index: -1
      background: rgba(221, 127, 104, 0.4)
    }
  }
  &--green {
    width: 148px
    height: 44px
    z-index: 0
    background-color: #42c0c5
    &:before {
      height: 100%
      background-color: #42c0c5
    }
    &:after {
      background-color: #6197a2
    }
  }
  &--shadow-down {
    &:after {
      top: 0
      right: 0
      left: 0
    }
  }
}
.btn3 {
  display: flex
  align-items: center
  justify-content: center
  padding: 0 10px 0 10px
  min-width: 113px
  height: 27px

  border: 1px solid #9e9e9e
  border-radius: 4px
  background-color: #fcf4c0
  cursor: pointer
  &, & span {
    font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #545454;
  }
  &--white {
    background: #ffffff
  }
  &--arrow {
    position: relative
    padding-left: 35px
    &:before {
      content: ''
      position: absolute
      top: 0
      left: 27px
      width: 1px
      height: 100%
      background: #9e9e9e
    }
    &:after {
      content: ''
      position: absolute
      top: 9px
      left: 6px
      width: 15px
      height: 9px
      background: url(/img/icon-arrow2.png) no-repeat
      transition: .3s
    }
    &.active {
      &:after {
        top: 7px
        transform: rotate(180deg)
      }
    }
  }
}


.font-red {
  color: #d76546
}
.font-dark {
  color: #545454 !important
}
.font-bold {
  font-weight: 600 !important
}


.checkbox {
  display: flex
  height: auto
  &--picture {
    label {
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      padding: 0 !important
      text-align: center
      &:hover {
        span.img__wrap {
          &:before {
            opacity: 1
          }
        }
      }
      img {
        position: relative
        z-index: 1
      }
      span.img__wrap {
        position: relative
        margin: auto 0 0 0
        &:before {
          content: ''
          position: absolute
          z-index: 0
          top: 50%
          left: 50%
          //margin-left: -50%
          //transform: translateY(-50%)
          margin: -41.5px 0 0 -41.5px
          width: 83px
          height: 83px
          background-color: #f7e0da
          border-radius: 100%
          opacity: 0
          //transition: .1s
        }
      }
      span.text {
        min-height: 55px
        margin-top: auto
        font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
        font-size: 18px
        font-weight: 400
        color: #545454
      }
    }

    input:not(checked) + label:before,
    input:not(checked) + label:after {
      display: none
    }
    input:checked + label .img__wrap {
      &:before {
        background: #d76546
        opacity: 1
      }
    }
  }
  &--circle {
    label {
      padding-left: 31px !important
    }
    input:not(checked) + label:before {
      left: 8px
      top: 3px
      width: 15px
      height: 15px
      background: url(/img/iconset-checkbox.png) no-repeat center -20px
      transition: none !important
    }
    input:not(checked) + label:after,
    input:checked + label:after {
      left: 8px
      top: 3px
      margin: 0
      width: 15px
      height: 15px
      background: url(/img/iconset-checkbox.png) no-repeat center 0
      transition: none !important
    }
    input:not(checked) + label:after {
      opacity: 0
    }
    input:checked + label:before {
      opacity: 0
    }

  }
}


.tabs1 {
  /*new begin*/
  margin-top: 60px
  /*new end*/
  box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
  background: #ffffff
  .tabs__title__wrap {
    position: relative
/*    &:before {
      content: ''
      position: absolute
      top: -41px
      right: 40px
      left: 40px
      height: 10px
      box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
    }*/
    &:after {
      content: ''
      position: absolute
      top: 0
      width: 100%
      height: 100px
      background: #ffffff
    }
    .forshadow {
      position: absolute
      width: 100%
      height: 40px
      background: #ffffff
/*      &:before {
        content: ''
        position: absolute
        top: -26px
        right: 282px//11px
        width: 50px
        height: 50px
        box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
        transform: rotate(45deg)
      }*/
      &:after {
        content: ''
        position: absolute
        top: -27px
        left: 16px
        width: 50px
        height: 50px
        box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
        transform: rotate(45deg)
      }
    }
    .forshadow2 {
      position: absolute
      top: -41px
      right: 40px
      left: 40px
      height: 10px
      box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
    }
    .forshadow3 {
      position: absolute
      top: -26px
      width: 50px
      height: 50px
      box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
      transform: rotate(45deg)
    }
  }
  .tabs__title {
    display: flex
    position: relative
    top: -41px
    min-height: 41px
    overflow: hidden
    li {
      position: relative
      display: flex
      justify-content: center
      align-items: center
      //padding-top: 50px
      /*new begin*/
      /*i {
        position: absolute
        z-index: 1000
        top: 0px
        width: 100%
        height: 50px
        background: #fff
        //box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.8)
        &:before {
          content: ''
          position: absolute
          z-index: 1000
          top: 15px
          width: 100%
          height: 5px
          background: #ccc
          box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.8)
        }
        &:after {
          content: ''
          position: absolute
          top: 15px
          z-index: 10000
          width: 100%
          height: 50px
          background: #8b008b
        }
      }*/
      /*new end*/
      &:before {
        content: ''
        position: absolute
        z-index: 10
        left: -14px
        width: 50px//150px
        height: 41px
        background: #ccc
      }
      &:after {
        content: ''
        position: absolute
        z-index: -10
        right: 3px
        width: 50px//100px
        height: 400px
        background: black
        transform: rotate(-45deg)
        box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
      }
      &:last-child {
       &:after {
         box-shadow: none
       }
      }
      &:nth-child(1) {
        a {
          z-index: 30
          padding: 5px 17px 0 45px
          &:before {
            left: 45px
            background-color: darkmagenta
          }
        }
        &:before {
          z-index: 30
          top: -104px !important
          left: -45px !important
          width: 50px !important
          height: 400px !important
          transform: rotate(45deg)
          background-color: darkmagenta
          box-shadow: none !important
        }
        &:after {
          z-index: 25
          width: 60px
          right: 0
          background-color: darkmagenta
        }
      }
      &:nth-child(2) {
        a {
          z-index: 22
          /*&:before {
            background-color: #7ac6df
          }*/
        }
        /*&:before {
          background-color: #7ac6df
        }*/
        &:after {
          z-index: 20
          //background-color: #7ac6df
        }
      }

      &:nth-child(3) {
        a {
          z-index: 18
          /*&:before {
            background-color: #48a0bd
          }*/
        }
        /*&:before {
          background-color: #48a0bd
        }*/
        &:after {
          z-index: 16
          //background-color: #48a0bd
        }
      }
      &:nth-child(4) {
        a {
          z-index: 14
          /*&:before {
            background-color: #42c0c5
          }*/
        }
        /*&:before {
          background-color: #42c0c5
        }*/
        &:after {
          z-index: 12
          right: -4px
          width: 50px
          //background-color: #42c0c5
        }
      }
      &:nth-child(5) {
        a {
          z-index: 10
          //padding: 5px 43px 0 39px

          /*&:before {
            //left: -40px
            background-color: #14968e
          }*/
        }
        /*&:before {
          //left: -70px
          background-color: #14968e
        }*/
        &:after {
          z-index: 8
          //right: 40px
          //background-color: #14968e
          //box-shadow: none
        }
      }
      &:nth-child(6) {
        a {
          z-index: 7
        }
        &:before {
          z-index: 7
        }
        &:after {
          z-index: 6
        }
      }
      &:nth-child(7) {
        a {
          z-index: 7
        }
        &:before {
          z-index: 5
        }
        &:after {
          z-index: 6
        }
      }
      &.prev {
        &:after {
          right: -100px
          width: 140px
          box-shadow: none
          transform: none
        }
      }
      &.ui-tabs-active {
        &:before,
        &:after {
          background: #ffffff !important
        }
        &:before {
          z-index: 100
          top: -149px//-145px
          width: 35px//50px//100px
          height: 400px
          transform: rotate(45deg) !important
          box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
        }
        a {
          z-index: 200
          color: #5d5d5d
          &:before {
            background: #ffffff !important
          }
        }
/*        &:nth-child(4) {
          &:before {
            left: -20px
            width: 50px
          }
        }*/
/*        &:nth-child(5) {
          &:before {
            left: -20px
            width: 40px
          }
          &:after {

          }
          a:before {
            left: 30px
            width: 70px
          }
        }*/
      }
      a {
        position: relative
        padding: 7px 24px 0 39px
        min-width: 120px
        width: 100%
        height: 100%
        font-family: latoregular
        font-size: 20px
        color: #ffffff
        text-decoration: none
        &:before {
          content: ''
          position: absolute
          z-index: -1
          top: -5px
          left: 35px
          right: 20px//35px
          max-width: 100%
          height: 120%
          background: #7ac6df
        }
      }
    }
  }
  .tabs__content {
    position: relative
    z-index: 100
    background: #ffffff
    & > div {
      padding: 0 30px 40px 30px//0 0 40px 0
      overflow: hidden
      & > .divider {
        width: 200%
        margin-left: -100px !important
      }
    }
    h3 {
      display: block
      width: 228px
      font-family: latoblack
      font-size: 25px
      line-height: 25px
      color: #6197a2
      letter-spacing: 0.3px
    }
    .divider.left.right {
      margin: 0
      margin-bottom: 30px
    }
    b {
      font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
      font-size: 18px
      font-weight: 600
      line-height: 26px
      color: #3a3a3a
    }
    p {
      font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
      font-size: 16px
      line-height: 20px
      color: #3a3a3a
      a, b {
        font-family: inherit
        font-size: inherit
        line-height: inherit
      }
    }
    .divider {
      margin: 44px 0 44px 0

    }
    #tabs-1 {
      & > .flex_row__between {
        .left {
          min-width: 190px
          img {
            margin-left: 40px
            margin-right: 20px
          }
        }
        .right {
          p {
            padding-right: 40px
          }
          .companylife {
            display: block
            margin-top: 18px
          }
        }
      }
      ul.features {
        li {
          margin: 0 10px 20px 10px
          padding-top: 70px
          width: 75px
          font-family: latoregular
          font-size: 16px
          line-height: 20px
          text-align: center
          color: #4373aa
          background: url(/img/iconset-features.jpg) no-repeat
          background-position: 12px 0
          &:nth-child(2) {
            background-position: -122px 0
          }
          &:nth-child(3) {
            background-position: -260px 0
          }
        }
      }
    }
  }
}
.tabs1 {
  .tabs__title {
    li {
      &.color1 {
        &:before,
        &:after,
        a:before {
          background: darkmagenta
        } 
      }
      &.color2 {
        &:before,
        &:after,
        a:before {
          background: #7ac6df
        }
      }
      &.color3 {
        &:before,
        &:after,
        a:before {
          background: #48a0bd
        }
      }
      &.color4 {
        &:before,
        &:after,
        a:before {
          background: #42c0c5
        }
      }
      &.color5 {
        &:before,
        &:after,
        a:before {
          background: #14968e
        }
      }
      &.color6 {
        &:before,
        &:after,
        a:before {
          background: #f4a452
        }
      }

    }
  }
}

@media (max-width: 970px) {
  .tabs1 {
    .tabs__content {
      position: relative
      z-index: 100
      background: #ffffff
      & > div {
        padding-left: 15px
        padding-right: 15px
      }
    }
  }
}


@media (max-width: 1040px) {
  .tabs1 {
    .tabs__title__wrap {
      .forshadow {
        &:before {
          top: -40px
          right: 0px
          transform: none
        }
      }
      .forshadow3 {
        top: -27px
        height: 30px
        transform: none
      }
      &:after {
        height: 200px
      }

    }
    .tabs__title {
      flex-wrap wrap
      justify-content: flex-start
      li {
        display: flex !important
        justify-content center !important
        align-items center !important
        width: 50%
        min-height: 41px
        overflow: hidden
        &:before {
          z-index: 5
          //height: 100px
        }
        &:not(:first-child) {
          &:before {
            width: 100px !important
            transform: none !important
          }
        }
        a {
          display: flex
          align-items center
          padding-top: 6px !important
          padding-right: 20px !important
          padding-bottom: 7px !important
        }
        &:after {
          z-index: 3 !important
          width: 200px!important
          height: 200px!important
        }
        &:last-child {
          &:after {
            top: -138px
          }
          a {
            &:before {
              right: 40px
            }
          }
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .tabs1 {
    .tabs__title {
      li {
        width: 100%
      }
    }
  }
}

  /*
@media (max-width: 580px) {
  .mainfield {
    h2 {
      padding-top: 60px
      font-size: 35px !important
      line-height: 45px
    }
    #tabs {
      .tabs__title {
        li {
          width: 100%
        }
      }
    }
  }
}
  */

.tabs--vertical {
  display: flex
}
.tabs--vertical {
  border-top: 1px solid #cecece
  .title {
    border-right: 1px solid #cecece
    li {
      margin-right: -1px
      &.ui-tabs-active {
        a {
          background: #fefce6
          font-family: latobold
          border-right: 1px dashed #cecece
          &:after {
            display: none
          }
        }
      }
      a {
        position: relative
        display: block
        padding-left: 52px
        width: 240px
        font-family: latoregular
        font-size: 16px
        line-height: 64px
        color: #414141
        text-decoration: none
        border-bottom: 1px solid #cecece
        &:before {
          content: ''
          position: absolute
          left: 25px
          top: 50%
          transform: translateY(-50%)
          width: 16px
          height: 16px
          background: center no-repeat
        }
        &:after {
          content: ''
          position: absolute
          right: 14px
          top: 50%
          transform: translateY(-50%)
          width: 8px
          height: 27px
          background: url(/img/icon-arrow3.png)
        }
      }

      &:nth-child(1) {
        a {
          &:before {
            background-image: url(/img/logo-nanocad-mini.png)
          }
        }
      }
      &:nth-child(2) {
        a {
          &:before {
            background-image: url(/img/logo-csoft-mini.png)
          }
        }
      }
      &:nth-child(3) {
        a {
          &:before {
            background-image: url(/img/logo-pilotICE-mini.png)
          }
        }
      }
      &:nth-child(4) {
        a {
          &:before {
            background-image: url(/img/logo-renga-mini.png)
          }
        }
      }


    }
  }

  .content {
    padding: 0 38px 90px 26px
    width: 100%
    background: #fefce6
    .tab_content_title {
      padding: 20px
      font-family: latoregular
      font-size: 22px;
      letter-spacing: 0.26px;
      color: #545454;
      text-align: center
    }
    .table1 {
      margin-top: 28px
      width: auto
      td {
        padding-top: 8px
        padding-bottom: 7px
        color: #0f73b9;
        b {
          color: inherit !important
        }
      }
      td[colspan="2"] {
        font-family: latoregular
        line-height: 20px
        text-align: center
      }
      td:not([colspan="2"]) {
        padding-left: 40px
        width: 204px
      }

      &.nanocadversions {
        tr {
          td:nth-child(1),
          td:nth-child(2) {
            position: relative
            &:before {
              content: ''
              position: absolute
              top: 50%
              left: 10px
              transform: translateY(-50%)
              width: 20px
              height: 17px
              background: url(/img/iconset-nanocad-v1.png) no-repeat center 1px
            }
          }
          td:nth-child(2) {
            &:before {
              background-image: url(/img/iconset-nanocad-v2.png)
            }
          }
        }
        tr:nth-child(1) {
          td {
            &:before {
              display: none
            }
          }
        }
        tr:nth-child(2) {
          td:nth-child(1),
          td:nth-child(2) {
            &:before {
              background-position-y: 1px
            }
          }
        }
        tr:nth-child(3) {
          td:nth-child(1),
          td:nth-child(2) {
            &:before {
              background-position-y: -32px
            }
          }
        }
        tr:nth-child(4) {
          td:nth-child(1),
          td:nth-child(2) {
            &:before {
              background-position-y: -67px
            }
          }
        }
        tr:nth-child(5) {
          td:nth-child(1),
          td:nth-child(2) {
            &:before {
              background-position-y: -101px
            }
          }
        }
        tr:nth-child(6) {
          td:nth-child(1),
          td:nth-child(2) {
            &:before {
              background-position-y: -136px
            }
          }
        }
        tr:nth-child(7) {
          td:nth-child(1),
          td:nth-child(2) {
            &:before {
              background-position-y: -170px
            }
          }
        }
        tr:nth-child(8) {
          td:nth-child(1),
          td:nth-child(2) {
            &:before {
              background-position-y: -203px
            }
          }
        }
        tr:nth-child(9) {
          td:nth-child(1),
          td:nth-child(2) {
            &:before {
              background-position-y: -237px
            }
          }
        }

      }

    }
  }
}

@media (max-width: 780px) {
    .tabs--vertical {
      flex-direction: column
      .title {
        display: flex
        flex-wrap: wrap
        border-right: 0
        li {
          //margin-right: 0
          margin-left: 1px
          width: 25%
          min-width: 175px
          a {
            padding-left: 38px
            padding-right: 10px
            width: 100%
            border-right: 1px solid #cecece
            &:before {
              left: 12px
            }
            &:after {
              display: none
            }
          }

          &.ui-tabs-active {
            a {
              border-right: 1px solid #cecece
              //border-bottom: 1px dashed #cecece
            }
          }
        }
      }
      .content {
        margin-top: -1px
        padding: 0 15px 90px 15px;
        border-top: 1px solid #cecece
      }
    }
}

@media (max-width: 550px) {
  .tabs--vertical {
    .title {
      li {
        width: 100%
      }
    }
  }
}


/*.title {
  border-right: 1px solid #cecece
  li {
    margin-right: -1px
    &.ui-tabs-active {
      a {
        background: #fefce6
        font-family: latobold
        border-right: 1px dashed #cecece
        &:after {
          display: none
        }
      }
    }*/

/*HEADER BEGIN*/
.header {
  position: relative
  z-index: 200
  width: 100%
  min-height: 90px
  background-color: #417aa3
  color: #ffffff
  .container {
    padding-top: 10px
    padding-bottom: 10px
    min-height: 90px
  }

  &__logo {
    img {
      min-width: 146px
      height: 61px
    }
  }

  &__tel {
    margin-left: 8%
    min-width: 210px
    text-align: center
    .number {
      font-family: latobold
      font-size: 22px
      line-height: 22px
    }
    .call {
      font-family: latolight
      font-size: 18px
      text-decoration: underline
      cursor: pointer
      &:hover {
        text-decoration: none
      }
    }
  }

  &__search {
    position: relative
    margin-left: 5%
    padding: 3px
    width: 215px
    height: 40px
    border: 1px solid #ffffff
    border-radius: 3px//2px
    input {
      padding: 0 35px 0 10px
      width: 100%
      height: 100%
      font-family: calibri
      font-size: 18px
      border: 1px solid #ffffff
      border-radius: 1px
      &::placeholder {
        color: #b4b4b4
        opacity: 1
      }

      &:-ms-input-placeholder {
        color: #b4b4b4
      }

      &::-ms-input-placeholder {
        color: #b4b4b4
      }
    }
    button {
      position: absolute
      top: 50%
      right: 7px
      transform: translateY(-50%)
      width: 24px
      height: 24px
      background: url("/img/icon-search.png")
    }
  }

  &__catalog {
    position: relative
    z-index: 80
    //margin-left: 8%
    &__wrap {
      margin-left: 8%
    }
    &.active {
      background: #ffffff
      .title {
        color: #000000
        border: none
        &:before {
          background: #000000
        }
        &:after {
          top: 11px
          width: 15px
          height: 15px
          border: none
          transform: rotate(0)
          background: url("/img/icon-cross.jpg")
        }
      }
      .content {
        display: block
      }
    }
    .title {
      position: relative
      z-index: 10
      padding: 7px 20px 7px 21px
      width: 160px
      height: 37px
      font-family: latobold
      font-size: 18px
      border: 1px solid #ffffff
      border-radius: 2px
      cursor: pointer
      &:before {
        content: ''
        position: absolute
        right: 38px
        top: 4px
        bottom: 4px
        width: 1px
        max-height: 100%
        background: #ffffff
      }
      &:after {
        content: ''
        position: absolute
        right: 12px
        top: 8px
        width: 11px
        height: 11px
        border-left: 2px solid #ffffff
        border-bottom: 2px solid #ffffff
        transform: rotate(-45deg)
      }
    }
    .content {
      display: none
      position: absolute
      top: -3px
      right: 0
      padding: 45px 8px 8px 8px
      width: 595px
      background: #ffffff
      &:before {
        content: ''
        position: absolute
        top: 44px
        left: 0
        right: 0
        height: 1px
        background: #c7c7c7
      }
      &:after {
        content: ''
        position: absolute
        z-index: -1
        top: -10px
        bottom: -10px
        right: -10px
        left: -10px
        background: rgba(255, 255, 255, 0.5)
      }

      ul {
        display: flex
        flex-direction: column
        .content__title {
          display: inline-block
          margin: 15px 0 10px 0
          &.lonely {
            margin: 3px 0 3px 0
          }
          a {
            font-family: latobold
            font-size: 18px
            line-height: 25px
            color: #0f73b9
            text-decoration: underline
            &:hover {
              text-decoration: none
            }
          }
        }
        li {
          font-family: latoregular
          font-size: 16px
          line-height: 26px
          color: #0f73b9
        }

        &.foricons {
          li {
            position: relative
            padding-left: 27px
            &.content__title {
              padding: 0 !important
              &:before {
                display: none
              }
            }
            &:before {
              content: ''
              position: absolute
              left: 0
              top: 50%
              transform: translateY(-50%)
              width: 20px
              height: 20px
              background: url(/img/iconset-catalog.jpg)
            }
          }
          &#foricons {
            &__1 {
              li {
                &:nth-child(2) {
                  &:before {
                    background-position: 2px 0
                  }
                }
                &:nth-child(3) {
                  &:before {
                    background-position: 2px -27px
                  }
                }
                &:nth-child(4) {
                  &:before {
                    background-position: 2px -53px
                  }
                }
                &:nth-child(5) {
                  &:before {
                    background-position: 2px -80px
                  }
                }
              }
            }
            &__2 {
              li {
                padding-left: 32px
                &:before {
                  width: 25px
                }
                &:nth-child(2) {
                  &:before {
                    background-position: 26px 0
                  }
                }
                &:nth-child(3) {
                  &:before {
                    background-position: 26px -27px
                  }
                }
                &:nth-child(4) {
                  &:before {
                    background-position: 26px -53px
                  }
                }
                &:nth-child(5) {
                  &:before {
                    background-position: 26px -80px
                  }
                }
                &:nth-child(6) {
                  &:before {
                    height: 25px
                    background-position: 26px -103px
                  }
                }

              }
            }
            &__3 {
              li {
                padding-left: 33px
                &:before {
                  width: 26px
                  height: 25px
                }
                &:nth-child(2) {
                  &:before {
                    background-position: 29px -180px
                  }
                }
                &:nth-child(3) {
                  &:before {
                    background-position: 29px -206px
                  }
                }
                &:nth-child(4) {
                  &:before {
                    background-position: 29px -232px
                  }
                }
                &:nth-child(5) {
                  &:before {
                    background-position: 29px -257px
                  }
                }
              }
            }

          }
        }

      }

      .square {
        position: relative
        width: 230px
        min-height: 175px
        //border-bottom: 1px solid #c7c7c7
        &:before {
          content: ''
          position: absolute
          left: -8px
          right: 0
          bottom: 0
          height: 1px
          background: #c7c7c7
        }
        &:last-child {
          &:before {
            display: none
          }
        }
        &.top {

        }
        &.bottom {
          padding:
        }
      }

      .right {
        position: relative
        padding: 0 0 35px 25px
        &:before {
          content: ''
          position: absolute
          left: 0
          top: 0
          bottom: -8px
          width: 1px
          background: #c7c7c7
        }
      }
    }
  }
}


.header.notindexpage {
  background: #417aa3
  box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.5);
}

@media (max-width: 850px) {
  .header {
    .container {
      flex-wrap: wrap
    }
    &__logo,
    &__tel,
    &__search,
      //&__catalog,
    &__catalog__wrap {
      margin: 5px 10px 5px 10px
      width: 40%
    }
    &__logo {
      text-align: center
    }
    &__catalog {
      //display: flex
      //justify-content: center
      width: 100%
      .title {
        margin: 0 auto
      }
      &__wrap {
        display: flex
        justify-content: center
      }
    }
  }
}

@media (max-width: 680px) {
  .header {
    &__catalog {
      position: static;
      .content {
        top: 88px
        width: 100%
      }
    }
  }
}

@media (max-width: 550px) {
  .header {
    &__catalog {
      .content {
        top: 86px
        padding-left: 15px
        padding-right: 15px
        padding-bottom: 20px
        border: 1px solid #c7c7c7
        .flex_row__start {
          flex-direction: column
        }
        .left {
          .square {
            align-items: flex-start
            padding: 15px 0 15px 0
            width: 100%
            min-height: auto
            &:last-child {
              border-bottom: 1px solid #c7c7c7
            }
            ul {
              li.content__title {
                margin-top: 0
              }
            }
          }
        }
        .right {
          padding: 0
          &:before {
            display: none
          }
          ul {
            padding-bottom: 15px
            border-bottom: 1px solid #c7c7c7
            &:last-child {
              border: none
            }
          }
        }
      }
    }
  }
}

@media (max-width: 446px) {
  .header {
    &__catalog {
      .content {
        top: 140px
      }
    }
  }
}

@media (max-width: 430px) {
  .header {
    .container {
      flex-direction: column
    }
    &__logo,
    &__tel,
    &__search,
    &__catalog {
      margin: 10px 0 10px 0
      width: 100%
    }

    &__catalog {
      position: static
      &__wrap {
        position: relative
        width: 100%
      }
      .title {
        margin: 0
        margin-left: auto
      }
      .content {
        width: auto
        top: 6px
        right: 0px
        left: 0px
      }
    }
  }
}
/*HEADER END*/


/*FOOTER BEGIN*/
.footer {
  position: relative
  padding: 0 0 45px 0
  &:before {
    content: ''
    position: absolute
    top: -7px
    width: 100%
    height: 8px
    background-image: linear-gradient(to left, #547695 0%, #7ab6e1 100%);
  }
  &__wrap {
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  }
  &, a {
    font-family: latoregular
    font-size: 16px
    line-height: 24px
    color: #c3c3c3
    //background: #404040
    background: #2b3640
  }
  &__logo {
    display: flex
    align-self center
    margin-top: 46px
    margin-left: 47px
    height: 100%
  }
  ul {
    display: flex
    flex-direction column
    margin: 46px 20px 0 20px
    li {
      &.footer__title {
        margin-bottom: 12px
        font-family: latobold
        font-size: 16px
        line-height: 24px
        color: #ffffff
      }
      a {
        text-decoration: underline
        &:hover {
          text-decoration: none
        }
      }
    }
  }
  &__contact {
    li {
      margin-bottom: 12px
    }
  }
}

@media (max-width: 645px) {
  .footer {
    &__wrap {
      ul, .footer__logo {
        width: 240px
        margin-left: 0
        margin-right: 0
      }
    }
  }
}
/*FOOTER END*/

/*TOPMENU BEGIN*/
.topmenu {
  position: relative
  ul {
    position: relative
    display: flex
    justify-content: space-between
    max-width: 800px
    height: 37px
    background: #e2eef0
    &:before, &:after {
      content: ''
      position: absolute
      left: -37px
      border-left: 37px solid transparent
      border-right: 37px solid transparent
      border-bottom: 37px solid #e2eef0
      transform: rotate(180deg)
    }
    &:after {
      right: -37px
    }
    li {
      position: relative
      z-index: 9
      padding-left: 30px
      &:before {
        content: ''
        position: absolute
        top: 8px
        left: 0
        width: 19px
        height: 19px
        background: url(/img/iconset-topmenu.png) no-repeat
      }
      &:nth-child(2) {
        &:before {
          background-position: -114px 0
        }
      }
      &:nth-child(3) {
        &:before {
          background-position: -239px 0
        }
      }
      &:nth-child(4) {
        &:before {
          background-position: -350px 0
        }
      }
      &:nth-child(5) {
        &:before {
          background-position: -467px 0
        }
      }
      &:nth-child(6) {
        &:before {
          background-position: -624px 0
        }
      }

      a {
        font-family: Calibri
        font-weight: 400
        font-size: 20px
        line-height: 37px
        color: #223f50
        &:hover {
          color: #000000 !important
          text-decoration: underline
        }
        &.active {
          font-weight: 600
        }
      }
    }
  }
  #topmenu__burger {
    display: none
    position: relative
    width: 100%
    height: 55px
    background: rgba(67,115,170,0.4)
    .burger {
      top: 25px
      left: 15px
      &.active {
        i {
          background: transparent
        }
      }
      i {
        background: white
        &:before,
        &:after {
          background: white
        }
      }
    }
  }
}

.topmenu:not(.notindexpage) {
  .slash {
    display: none
  }
}

.topmenu.notindexpage {
  width: 100%
  background: #fcf4c0
  border-bottom: 1px solid #e3e1d0
  .container {
    justify-content: unset;
    max-width: 1030px
  }
  ul {
    background: #fcf4c0
    &:before,
    &:after {
      display: none
    }
    li {
      padding: 0
      font-family: latoregular
      font-size: 17px
      color: #223f50
      &:nth-last-child(2) {
        .slash {
          display: none
        }
      }
      &:before {
        display: none
      }
      a {
        font-family: latoregular
        font-size: 17px
        color: #223f50
        text-decoration: none
      }
    }
    li.authorization {
      display: flex
      align-items center
      margin-left: auto
      &:before {
        display: none
      }
      span:not(.slash) {
        cursor: pointer
        &:hover {
          color: #000000 !important
        }
      }
    }
  }

  #topmenu__burger {
    background: #5F95B2
  }
}


@media (max-width: 730px) {
  .topmenu.notindexpage {
    ul.container {
      justify-content space-between
      &.active {
        height: 350px
      }
      background: #e2eef0
    }
    li {
      &:not(:last-child) .slash {
        display: none
      }
      &.authorization {
        margin-top: 10px
        padding-top: 12px
        height: 45px
        border-top: 1px solid grey
        span {

        }
      }
    }
  }
}

@media (max-width: 730px) {
  .topmenu {
    #topmenu__burger {
      display: block
    }
    ul {
      position: absolute
      z-index: 10
      flex-direction: column
      padding-top: 0
      padding-bottom: 0
      height:0
      overflow hidden
      transition: .2s
      &.active {
        padding-top: 15px
        padding-bottom: 15px
        height: 330px
      }
      &:before,
      &:after {
        display: none
      }

      li {
        width: 100%
        a {
          display: block
          width: 100%
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .topmenu {
    #topmenu__burger {
      display: none
    }
  }
}
/*TOPMENU END*/


/*MODAL BEGIN*/
.overlay{
  display: none
  position: fixed;
  z-index: 200
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.66);
}
.modal {
  z-index: 999;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 292px
  width: 100%
  min-height: 253px
  text-align: center
  background: #ffffff
  &:before, &:after {
    content: ''
    position: absolute
    z-index: -100000
    left: -6px
    right: -6px
    top: -6px
    bottom: -6px
    background: linear-gradient(top, #dd7f68 0%, #ffc851 100%)//linear-gradient(to bottom, #5ab6e8 0%, #00c6b5 100%)
    opacity: .8
  }
  &:after {
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: #ffffff
    opacity: 1
  }

  &__close {
    position: absolute
    right: -20px
    top: -20px
    display: flex
    justify-content: center
    align-items: center
    padding-bottom: 2px
    width: 28px
    height: 28px
    font-family: latoblack
    font-size: 14px
    line-height: 25px
    color: #666666
    border: 4px solid #dd7f68
    border-radius: 100%
    background-color: #ffffff
    cursor: pointer
  }

  .title {
    margin-top: 15px
    margin-bottom: 15px
    font-family: latoregular
    font-size: 18px
    line-height: 25px
    letter-spacing: 0.22px
    text-transform: uppercase
  }
  input,
  textarea {
    margin-bottom: 11px
    padding: 0 5px 0 40px
    max-width: 227px
    width: 100%
    height: 40px
    border: 1px solid #ababab
    border-radius: 4px
    font-family: latoregular
    font-size: 16px
    line-height: 25px
    box-sizing border-box
    &::placeholder {
      color: #666666;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: #666666;
    }

    &::-ms-input-placeholder {
      color: #666666;
    }
  }
  .input {
    position: relative
    &:before {
      content: ''
      position: absolute
      top: 0
      left: 15px
      width: 17px
      height: 17px
      background: black
    }
  }
  input {
    &.name,
    &.tel {
      background: url(/img/iconset-feedback1.jpg) no-repeat 12px 10px
    }
    &.tel {
      background-position: 12px -46px
    }
  }
  .agreement {
    color: #848586
    font-family: latoregular
    font-size: 12px
    line-height: 25px
    a {
      color: #848586
    }
    label {
      display: block
      margin: 0 auto
      padding-left: 22px
      &:before {
        top: -1px
      }
    }
    input:not(checked) + label:before {
      top: 4px
      width: 15px
      height: 15px
      background: url(/img/icon-checkbox.png) no-repeat
      background-size: cover
      border-radius: 0
    }
    input:not(checked) + label:after {
      top: 50%;
      margin-top: -6px;
      left: 5px;
      width: 3px;
      height: 6px;
      background: transparent
      border-right: 1px solid #ffffff
      border-bottom: 1px solid #ffffff
      border-radius: 0
      transform: rotate(45deg)
    }
    input[type='checkbox'] {
      height: 0
    }
  }
  .btn2 {
    margin-top: 15px
    font-family: latobold
    font-size: 16px
    background-color: #dd7f68
    &:before {
      display: none
    }
    &:after {
      z-index: -1
      background: rgba(221, 127, 104, 0.3)
    }
  }
}

@media (max-width: 330px) {
  .modal {
    &__close {
      top: -38px
      right: 5px
    }
  }
}
/*MODAL END*/


.text.short {
  span.active {
    display: inline !important
  }
  a.morelink {
    color: #4984ad
  }
}




.table1__forscroll {
  overflow-x: auto
}
table.table1 {
  width: 100%
  overflow-x: auto


  &, th, td {
    padding: 7px 15px 6px 15px
    border-collapse: collapse;
    border: 1px solid #d2d2d2
    box-sizing: border-box
    span {
      font-family: inherit
      font-size: inherit
    }
    &.withHint {
      padding-right: 33px
    }
  }
  th {
    font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
    font-size: 16px
    font-weight: bold
    color: #545454
    background: #f1f1f1
  }
  td {
    font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
    font-size: 16px
    font-weight: 400
    line-height: 17px
    color: #545454
    background: #ffffff
    & b {
      font-weight: bold
      font-size: 15px
    }
    label {
      padding-left: 0 !important
      font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
      font-size: 16px
      font-weight: 400
      line-height: 17px
    }

    &.td--check,
    &.td--logo {
      padding-left: 9px
      padding-right: 9px
      width: 30px
    }
    &.td--price {
      min-width: 110px
    }

  }

  .checkbox {
    label {
      padding-left: 0 !important
      width: 15px
      height: 15px
      &:before,
      &:after {
        top: 0
        left: 0
      }
    }
  }

}
@media (max-width: 500px) {
  table.table1 {
    &, th, td {
      padding-left: 8px
      padding-right: 8px
    }
    td.td--price {
      min-width: 100px
    }
  }
}

.checkbox.checkbox--square {
  input:not(checked) + label:before {
    width: 16px
    height: 16px
    transform: none
    opacity: 1
    background: url(/img/icon-checkbox2.jpg) no-repeat center
  }
  input:not(checked) + label:after,
  input:checked + label:after {
    left: 0
    margin-top: 0
    transform: none
    width: 16px
    height: 16px
    opacity: 1
    background: url(/img/icon-checkbox2-checked.jpg) no-repeat center
  }
  input:not(checked) + label:after {
    opacity: 0
  }
  label {
    display: flex
    justify-content: space-between
    align-items: center
    padding-left: 24px !important
    width: 100%
    background: white
    span {
      font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif !important
      font-size: 18px
      color: #4984ad
      mark {
        font-family: inherit
        font-weight: 600
        color: inherit
        background: transparent
      }
    }
    &:before, &:after {
      z-index: 10
    }
  }
}



.circleslider {
  margin: 0 auto
  width: 350px
  height: 350px
  background: url(/img/bg-circleslider.png) no-repeat center
  .slick-list,
  .slick-track,
  .slick-track .item {
    height: 100%
  }
  .slick-track .item {
    p {
      margin: 45% auto 0 auto
      transform: translateY(-50%)
      width: 184px
      text-align: center
    }
  }
  .slick-dots {
    li button {
      font-size: 0
      line-height: 0
    }
    li {
      position: absolute;
      width: 110px;
      height: 110px;
      background: no-repeat center
      cursor: pointer
      opacity: .5
      background: no-repeat center
      &.slick-active {
        opacity: 1
      }
      &:nth-child(1) {
        top: -65px
        left: 115px
        background-image: url(/img/icon-circleslider1.png)
      }
      &:nth-child(2) {
        top: 55px
        right: -50px
        background-image: url(/img/icon-circleslider2.png)
      }
      &:nth-child(3) {
        bottom: 10px
        right: -15px
        background-image: url(/img/icon-circleslider3.png)
      }
      &:nth-child(4) {
        bottom: -8px
        left: 7px
        background-image: url(/img/icon-circleslider4.png)
      }
      &:nth-child(5) {
        top: 40px
        left: -48px
        background-image: url(/img/icon-circleslider5.png)
      }
    }
  }
}
@media (max-width: 500px) {
    .circleslider {
      width: 280px
      background-size: 280px 350px
      .slick-track .item {
        p {
          margin: 57% auto 0 auto
        }
      }
      .slick-dots {
        li {
          width: 72px
          height: 72px
          background-size: contain
        }
        li:nth-child(1) {
          top: -48px
          left: 100px
        }
        li:nth-child(2) {
          top: 75px
          right: -32px
        }
        li:nth-child(3) {
          bottom: 30px
          right: -8px
        }
        li:nth-child(4) {
          bottom: 15px
          left: 10px
        }
        li:nth-child(5) {
          top: 65px
          left: -32px
        }
      }
    }
}
@media (max-width: 370px) {
  .circleslider {
    background: none
    .slick-track .item {
      p {
        margin-right: 0
        //transform: translateY(-50%)
        //width: 184px
        //text-align: center
      }
    }
    .slick-dots {
      li {
        //background-position-x: left
      }
      li:nth-child(1) {
        top: -50px
        left: 60px//-10px
      }
      li:nth-child(2) {
        top: 40px
        left: 10px//-10px
      }
      li:nth-child(3) {
        bottom: auto
        top: 130px
        left: -10px
      }
      li:nth-child(4) {
        bottom: auto
        top: 220px
        left: 10px//-10px
      }
      li:nth-child(5) {
        top: 310px
        left: 60px//-10px
      }
    }
  }
}


.scroll {
  max-height: 308px
  overflow-y: auto
  overflow-x: hidden
  transition: max-height .5s
  &.active {
    max-height: 2000px
  }

  /* width */
  &::-webkit-scrollbar {
    width: 9px
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background-color: #c4c4c4
    border: 4px solid transparent
    border-radius: 12px
    background-clip: content-box
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    width: 9px
    border-radius: 4px
    background-color: #c4c4c4
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: darken(#c4c4c4, 25%)
  }

  &__wrap {
    position: relative
  }

  mark {
    font-family: inherit
    font-weight: 600
    color: inherit
    background: transparent
  }



  &__footer {
    position: absolute
    z-index: 10
    bottom: 0
    left: 0
    width: 100%
    height: 30px
    background: #f1f1f1
    border-top: 1px solid #d1d1d1
  }
  &__showall {
    position: relative
    display: block
    margin: 0 auto
    padding-right: 30px
    font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
    font-size: 16px
    font-weight: 400
    line-height: 30px
    color: #545454
    background: transparent
    text-transform: uppercase
    &:after {
      content: ''
      position: absolute
      right: 0
      top: 8px
      width: 19px
      height: 11px
      background: url(/img/icon-arrow2.png) no-repeat center
      background-size: 19px 11px
    }
    &.active {
      &:after {
        transform: rotate(180deg)
      }
    }
  }

  &--left {
    direction: rtl;
    //content --- direction: ltr;
  }

}

.transpBox {
  position: relative
  &:before {
    content: ''
    position: absolute
    z-index: -1
    left: -8px
    right: -8px
    top: -8px
    bottom: -8px
    background: rgba(255, 255, 255, 0.5)
  }

  &--title {
    display: inline-block !important
    z-index: 1
    &:before {
      right: -30px
      top: 22px
      bottom: 22px
      left: -1000px
    }
    .innerPage__title, .crumbs {
      display: inline-block
    }
  }

  &--wide {
    &:before {
      left: -1000px !important
      right: -1000px !important
      top: -10px !important
      bottom: -10px
    }
  }
}


.ecp__h2,
.ecp__form2 p.ecp__h2,
p.ecp__h2 {
  margin: 0
  padding-left: 10px
  padding-right: 10px
  text-align: center
  font-family: latoblack !important
  font-size: 24px
  line-height: 29px
  color: #545454
  text-transform: uppercase
  & .font-red,
  & .font-blue,
  & .font-darkblue {
    font-family: latoblack
    font-size: 24px
  }
  &--18 {
    font-size: 18px
    line-height: 23px
    & .font-red,
    & .font-darkblue {
      font-size: 18px
    }
  }
  &--20 {
    font-size: 20px
    line-height: 25px
    & .font-red,
    & .font-blue,
    & .font-darkblue {
      font-size: 20px
    }
  }
}
.ecp__h2__subtitle,
.ecp__h2__subtitle .font-red,
.ecp__form2 p.ecp__h2__subtitle {
  margin: 0
  padding-left: 10px
  padding-right: 10px
  font-family: latoregular !important
  font-size: 18px
  line-height: 28px
  text-align: center
  text-transform: uppercase
}
.ecp__h2__subtitle {
  color: #545454
}


.ecp__h3,
.ecp__form2 p.ecp__h3,
p.ecp__h3 {
  margin: 0
  padding-left: 10px
  padding-right: 10px
  text-align: center
  font-family: latoblack !important
  font-size: 18px
  color: #545454
  text-transform: uppercase
  & .font-red,
  & .font-blue,
  & .font-darkblue {
    font-family: latoblack
    font-size: 18px
  }
}

.ecp__h3--calibri {
  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  text-transform: uppercase
}

.font-blue {
  color: #4984ad;
}
.font-darkblue {
  color: #0055a3
}


.accordion {

  .content {
    max-height: 0
    overflow: hidden
    transition: .35s
  }
  .title {
    display: inline-block
    cursor: pointer
    &:after {
      content:''
      position: absolute
      width: 10px
    }
    .arrow {
      //position: relative;
      display: inline-block;
      top: 0px;
      margin: 0 3px 0 3px;
      width: 16px;
      height: 9px;
      background: url(/img/icon-arrow2.png) no-repeat
      transition: .3s
    }
  }
  &.active {
    .content{
      max-height: 700px
    }
    .title {
      .arrow {
        transform: rotate(180deg)
      }
    }
  }
  &--noanimation {
    .content {
      transition: none
    }
    .title {
      .arrow {
        transition: none
      }
    }
  }
}

input.attach {
  background: #ffffff url(/img/icon-attach2.png) no-repeat 12px 10px
}

label {
  user-select: auto
}


.divider2.right.left {
  padding: 0 10px 0 10px
  text-align: center
  overflow: hidden
  div {
    position: relative
    display: inline-block
    &:before,
    &:after {
      content: ''
      position: absolute
      top: 50%
      left: -812px
      width: 800px
      height: 1px
      background: #cecece
    }
    &:after {
      left: auto
      right: -812px
    }
  }
}


.list {
  &--checked {
    li {
      position: relative
      margin: 7px 0 7px 0
      padding-left: 24px
      font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
      &:before {
        content: ''
        position: absolute
        left: 0
        top: 50%
        transform: translateY(-50%)
        width: 14px
        height: 14px
        background: url(/img/icon-checked.png) center no-repeat
      }
    }
  }
}

.preventJumping {
  position: absolute
  height: 1500px
}