/*CONTACT BEGIN*/
.contact {
  margin-bottom: 73px
  .map {
    &__wrap {
      position: relative
      &:before,
      &:after {
        content: ''
        position: absolute
        z-index: 2
        top: 0
        width: 100%
        height: 8px
        background: rgba(255, 255, 255, 0.6)
      }
      &:after {
        top: auto
        bottom: 0
      }
    }
    &__yandex,
    &__google {
      display: none
      &.active {
        display: block
      }
    }
    &__google {
      #map__google {
        width: 100%
        height: 530px
      }
    }

    &__option {
      position: absolute
      display: flex
      justify-content center
      align-items: flex-end
      bottom: 0
      left: 50%
      padding-bottom: 8px
      width: 155px
      height: 40px
      background: #ffffff
      &:before,
      &:after {
        content: ''
        position: absolute
        z-index: 0
        left: -40px
        bottom: 0
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 40px solid #ffffff;
      }
      &:after {
        right: -40px
      }
      .option__google,
      .option__yandex {
        position: relative
        z-index: 10
        color: #34546c
        text-decoration: underline
        cursor: pointer
        &:hover {
          text-decoration: none
        }
        &.active {
          color: #929292
          text-decoration: none
        }
      }
      .slash {
        z-index: 10
        &:before {
          content: '|'
        }
      }
    }
  }

  &__content {
    margin-top: 75px
  }

  &__info {
    &__wrap {
      margin-right: 15px
      img {
        display: block
        margin: 0 auto
        margin-bottom: 32px
      }
      .contact__links {
        a {
          position: relative
          display: block
          margin-bottom: 14px
          padding-left: 33px
          &:before {
            content: ''
            position: absolute
            left: 0
            top: 0
            width: 25px
            height: 25px
            background: url(/img/iconset-contact.png) no-repeat
          }
          &:nth-child(2) {
            &:before {
              top: 0
              background-position: 0 -34px
            }
          }
        }
      }
    }
    li {
      margin-bottom: 22px
      color: #34546c
      &.info__title {
        font-size: 26px
      }
      b {
        font-family: latobold
      }
    }
  }

  &__form.form__submit {
    position: relative
    margin-top: 145px
    margin-left: 15px
    padding: 22px 0 17px 0
    min-width: 227px;
    width: 292px;
    &:before {
      content: ''
      position: absolute
      z-index: -1
      top: -6px
      left: -6px
      right: -6px
      bottom: -6px
      background: rgba(67, 115, 170, 0.8)
    }
    h3 {
      margin: 0 auto
      margin-bottom: 32px
      align-self flex-start
      font-family: latoregular
      font-weight: 400
      font-size: 23px
      color: #34546c
    }
    textarea {
      margin-bottom: 10px
    }
    button {
      position: relative
      z-index: 10
      margin-top: 18px//5px
      width: 103px
      height: 35px
      color: #ffffff
      border-radius: 4px
      background-color: #6dadda
      /*      &:before {
              content: ''
              position: absolute
              z-index: -1
              left: 0
              top: 0
              bottom: -5px
              width: 103px
              height: 35px
              background-color: #6dadda
              border-radius: 4px
            }
            &:after {
              content: ''
              position: absolute
              z-index: -2
              left: 0
              bottom: -3px
              width: 103px
              height: 35px
              background-color: #417aa3
              border-radius: 4px
            }*/
    }
  }
}

@media (max-width: 630px) {
  .contact {
    &__content {
      flex-direction: column
      align-items center
      margin-top: 65px
      .contact__info__wrap {
        margin-right: 0
      }
      form.form__submit.contact__form {
        margin-top: 40px
        margin-left: 0
      }
    }
  }
}

@media (max-width: 350px) {
  .contact {
    &__content {
      form.form__submit.contact__form {
        width: 100%
      }
    }
  }
}
/*CONTACT END*/