.ecp {
  min-height: 1000px
  position: relative
  .transpBox {
    position: relative
    //border: 8px solid rgba(255, 255, 255, 0.5)
    &:before {
      content: ''
      position: absolute
      z-index: -1
      left: -8px
      right: -8px
      top: -8px
      bottom: -8px
      background: rgba(255, 255, 255, 0.5)
    }
  }
  .checkbox {
    &__wrap {
      ul {
        display: flex
        flex-wrap: wrap
        padding: 38px 18px 0 18px
        li.checkbox--picture {
          display: flex
          justify-content: center
          margin-bottom: 20px
          width: 16.6%
          min-width: 115px
          label {
            span.text {
              max-width: 77px
            }
          }
          &:nth-child(3) {
            span.img__wrap {
              margin-left: 10px
            }
          }
          &:nth-child(4) {
            span.img__wrap {
              margin-left: 25px
            }
          }

        }
      }
    }
  }

  &__title {
    margin-top: 62px
    font-family: latoblack
    font-size: 38px
    line-height: 48px
    text-transform: uppercase
    color: #ffffff
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5)
    text-align: center
  }
  &__tel {
    display: flex
    justify-content: center
    height: 45px
    input {
      padding: 0 20px 0 20px
      width: 210px
      height: 100%
      min-height: 45px
      font-family: latoblack
      font-size: 18px
      font-weight: 400
      line-height: 20px
      color: #545454
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #f56542
        opacity: 1; /* Firefox */
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #f56542;
      }
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: #f56542;
      }
    }
    button {
      padding: 0 28px 0 28px
      height: 100%
      font-family: latoblack
      font-size: 18px
      font-weight: 400
      line-height: 20px
      color: #ffffff
      background: #f56542
    }
  }
  &__features {
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-top: 45px
    li {
      position: relative
      margin: 25px 13px 25px 13px
      padding-left: 68px
      font-family: latoblack
      font-size: 16px
      font-weight: 400
      line-height: 22px
      text-transform: uppercase
      color: #34546c
      &:before,
      &:after {
        content: ''
        position: absolute
        top: 50%
        left: 0
        transform: translateY(-50%)
        width: 58px
        height: 58px
        border-radius: 100%
        background: #ffffff url(/img/icon-ecp-sample1.png) center no-repeat
      }
      &:after {
        z-index: -1
        left: -4px
        width: 66px
        height: 66px
        background: rgba(255, 255, 255, 0.5)
      }
      &:nth-child(2) {
        &:before {
          background-image: url(/img/icon-ecp-sample2.png)
        }
      }
      &:nth-child(3) {
        &:before {
          background-image: url(/img/icon-ecp-sample3.png)
        }
      }
      &:nth-child(4) {
        &:before {
          background-image: url(/img/icon-ecp-sample1.png)
        }
      }
      &:nth-child(5) {
        &:before {
          background-image: url(/img/icon-ecp-sample3.png)
        }
      }

    }
  }

  .fox__wrap {
    position: absolute
    width: 100%
    //height: 500px
    //max-height: 100%
    top: -430px
    //overflow: hidden
    z-index: -10
    .content--fox {
      position: relative
      z-index: -1
      top: 0
      height: 1339px
      background: url(/img/bg-landscape.jpg) right no-repeat
      background-size: cover
      overflow: visible
      &:after {
        top: auto
        bottom: -110px
        height: 342px
        background: url(/img/bg-landscape2.png) no-repeat
        background-size: cover
      }
      .fox {
        left: auto//69%
        right: 14%
      }
    }
  }

  &__dscr {
    margin: 38px 0 40px 0
    font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
    font-size: 18px
    font-weight: 400
    line-height: 20px
    .title {
      font-size: 18px
      font-weight: bold
      line-height: 28px
      color: #4984ad
    }
    p {
      font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
      font-size: 18px
      font-weight: 400
      line-height: 20px
    }

  }

  &__links {
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    padding-top: 15px !important
    padding-bottom: 35px !important
    li {
      position: relative
      padding-left: 55px//82px
      margin: 25px 15px 5px 15px
      &:before {
        content: ''
        position: absolute
        left: 0
        top: 50%
        transform: translateY(-50%)
        width: 40px//67px
        height: 40px
        background: url(/img/icon-ecp-sample4.jpg) right center no-repeat
      }
      a {
        display: block
      }
      &:nth-child(2) {
        &:before {
          background-image: url(/img/icon-ecp-sample5.png)
        }
      }
      &:nth-child(3) {
        padding-left: 82px
        &:before {
          width: 67px
          background-image: url(/img/icon-ecp-sample6.png)
        }
      }
    }
  }

  .checkbox__wrap ul{
    display: flex
  }
  &__form1 {
    margin-bottom: 32px
    .ecp__tel {
      margin: 62px auto 92px auto
      max-width: 403.5px
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.7)
    }
    .checkbox__wrap {
      margin: 0 auto
      max-width: 730px
      ul {
        background: #ffffff
      }
      .title, .title span {
        padding: 5px 0 7px 0
        font-family: latoblack
        font-size: 24px
        line-height: 35.02px

        text-shadow: rgb(255, 255, 255) 0px -1px 1px, rgb(255, 255, 255) 0px -1px 1px, rgb(255, 255, 255) 0px 1px 1px, rgb(255, 255, 255) 0px 1px 1px, rgb(255, 255, 255) -1px 0px 1px, rgb(255, 255, 255) 1px 0px 1px, rgb(255, 255, 255) -1px 0px 1px, rgb(255, 255, 255) 1px 0px 1px, rgb(255, 255, 255) -1px -1px 1px, rgb(255, 255, 255) 1px -1px 1px, rgb(255, 255, 255) -1px 1px 1px, rgb(255, 255, 255) 1px 1px 1px, rgb(255, 255, 255) -1px -1px 1px, rgb(255, 255, 255) 1px -1px 1px, rgb(255, 255, 255) -1px 1px 1px, rgb(255, 255, 255) 1px 1px 1px;
        text-align: center
        &:not(span) {
          color: #545454
        }
      }
    }
  }
  &__form2 {
    margin: 0 auto
    max-width: 730px
    background: #ffffff
    border: 1px solid #cacaca
    border-bottom: none
    p {
      position: relative
      z-index: 1
      margin: 19px 30px 0 30px
      font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif !important
      font-size: 18px
      font-weight: 400
      line-height: 28px
      b {
        color: #545454
        font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
      }
      a {
        color: #4984ad
        font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
      }
      .font-red {
        color: #d76546
        font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
      }
    }
    .checkbox__wrap {
      ul {
        padding: 20px 18px 0 18px
      }
    }
    h2 {
      margin-bottom: 15px
      padding: 24px 10px 18px 10px
      text-align: center
      border-bottom: 1px solid #cacaca
      span {
        &.top, &.bottom {
          display: block
        }
        &.top {
          font-family: latoblack
          font-size: 24px
          color: #545454
          & .font-red {
            font-family: latoblack
            font-size: 24px
            line-height: 34px
          }
        }
        &.bottom {
          font-family: latolight !important
          font-size: 18px
          line-height: 28px
          color: #545454
          text-transform: uppercase
        }
      }
    }
    &__footer {
      display: flex
      align-items: center
      padding: 10px 34px 10px 34px
      min-height: 63px
      background: #fff0f0
      border-top: 1px solid #cacaca
      .btn2 {
        margin-right: 15px
        z-index: 10
        font-family: latobold
        font-size: 16px
        background-color: #dd7f68
        &:before {
          display: none
        }
        &:after {
          z-index: -1
          background: rgba(221, 127, 104, 0.3)
        }
      }
      .result {
        font-family: latobold
        font-size: 18px
        color: #545454
        span {
          font-family: latoregular
        }
      }
    }
  }


  &__steps {
    margin: 87px 0 75px 0
    text-align: center
    .container > .title,
    .container > .title span {
      font-family: latoblack
      font-size: 24px
      line-height: 52.26px

    }
    .container > .title {
      margin-bottom: 45px
      color: #545454
    }
    ul {
      display: flex
      justify-content: center
      flex-wrap: wrap
      padding-top: 27px
      background: url(/img/bg-ecp-steps.png) no-repeat center 0
      li {
        margin-right: 5px
        padding: 0 10px 0 10px
        max-width: 250px
        width: 100%
        //background: #ccc
        .number {
          margin-bottom: 48px
          font-family: latoregular
          font-size: 70px
          color: #ffffff
        }
        .title {
          margin: 0 auto
          padding-bottom: 15px
          font-family: latobold
          font-size: 18px
          line-height: 20px
        }
        .text {
          color: #545454
        }
        &:nth-child(1) {
          max-width: 180px
          .title {
            max-width: 130px
            color: #ffcd62
          }
        }
        &:nth-child(2) {
          .title {
            color: #fe8a8a
          }
        }
        &:nth-child(3) {
          max-width: 180px
          .title {
            color: #2d87b9
          }
        }

      }
    }
  }

  &__map {
    position: relative
    max-height: 565px
    height: 565px
    overflow: hidden
    box-shadow: inset 0px 6px 6px rgba(0,0,0,0.3)
    &:before,&:after {
      content: ''
      position: absolute
      z-index: -1
      left: 50%
      top: -1207px
      transform: translate(-50%)
      width: 165px
      height: 165px
      border: 1500px solid rgba(222, 222, 222, 0.5)
      border-radius: 100%
      transition: .5s
    }
    &:after {
      top: 285px
      border: 8px solid white
    }
    &.active {
      &:before, &:after {
        transform: translate(-50%) scale(2)
        opacity: 0
      }
      .showMapBtn {
        span {
          &:first-child {
            display: none
          }
          &:last-child {
            display: block
          }
        }
      }
      .ecp__tel {
        opacity: 0
      }

      &--additinal {
        .map {
          z-index: 0
          .ymaps-2-1-64-events-pane {
            box-shadow: inset 0px 6px 6px rgba(0,0,0,0.3)
          }
        }
      }
    }

    .ecp__tel {
      margin-top: 170px
      transition: .2s
    }

    .map {
      position: absolute
      z-index: -2
      width: 100%
      height: 565px
    }
    .showMapBtn {
      position: absolute
      z-index 234
      top: 360px
      right: 50%
      width: 120px
      transform: translateX(50%)
      color: #ffffff
      font-size: 12px
      span {
        font-family: latobold
      }
      span:last-child {
        display: none
      }
      &:after {
        background: rgba(255, 255, 255, 0.8)
      }
    }
  }
}


.ecp {
  &__form2 {
    a.font-red {
      position: relative
      z-index: 2
      display: block
      margin: 10px 30px 7px 30px
      font-family: latoblack
      font-size: 18px
      font-weight: 400
      line-height: 33px
    }
  }
  &__stair {
    //overflow: hidden
    &--none {
      li {
        &:before {
          display: none
        }
      }
    }

    li {
      position: relative
      &:before {
        content: ''
        position: absolute
        z-index: 1
        left: 7px
        top: 11px
        width: 1px
        height: 100%
        background-color: #cbcbcb
      }

      /*&:last-child {
        &:before {
          display: none
        }
      }*/
    }

    .checkbox {
      display: block
    }
    .checkbox input:not(checked) + label:before {
      top: 3px
      width: 16px
      height: 16px
      transform: none
      opacity: 1
      background: url(/img/icon-checkbox2.jpg) no-repeat center
    }
    .checkbox input:not(checked) + label:after,
    .checkbox input:checked + label:after {
      left: 0
      top: 3px
      margin-top: 0
      width: 16px
      height: 16px
      transform: none
      opacity: 1
      background: url(/img/icon-checkbox2-checked.jpg) no-repeat center
    }
    .checkbox input:not(checked) + label:after {
      opacity: 0
    }
    label {
      display: flex
      justify-content: space-between
      align-items: center
      padding-left: 24px !important
      width: 100%
      background: white
      span {
        font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif !important
        font-size: 18px
        color: #4984ad
        mark {
          font-family: inherit
          font-weight: 600
          color: inherit
          background: transparent
        }
      }
      &:before, &:after {
        z-index: 10
      }
    }
    .forHint {
      .text {
        padding-right: 33px
      }
    }
    .text {
      position: relative
      z-index: 3
      padding-right: 15px
      background: white
      &:before {
        content: ''
        position: absolute
        z-index: -1
        left: -24px
        width: 50px
        height: 14px
        background: white
      }
      /*&:after {
        content: ''
        position: absolute
        z-index: -1
        left: 0
        width: 100%
        height: 100%
        background: #ffffff
      }*/
    }
    .price {
      position: relative
      z-index: 2
      padding-left: 10px
      min-width: 100px
      background: white
      &::first-letter {
        margin-right: 4px
      }
    }
    .ecp__divider {
      position: absolute
      z-index: 1
      left: 0px
      top: 11px
      width: 100%
      height: 1px
      background-color: #cbcbcb
    }
  }
  &__level1 {
    margin: 0 30px 0 30px
  }
  &__level2 {
    margin-left: 25px
    .ecp__divider {
      left: -18px
    }
    li {
      margin-top: 10px
      label {
        margin-bottom: 10px
      }
    }
    & > li:last-child {
      &:before {
        left: -24px
        width: 24px
        background: white
      }
    }
  }
  &__level3 {
    margin-left: 25px
    li {
      margin: 0
      &:before {
        display: none
      }
      label {
        margin-bottom: 0
      }
    }
    & > li:last-child {
      &:before {
        display: block
        left: -22px
        width: 20px
        background: white
      }
    }
  }

  .ecp__search {
    margin-top: 10px
    & > ul {
      padding-left: 15px
      max-height: 190px
      overflow-y: auto
      overflow-x: hidden
      direction: rtl;
      /* width */
      &::-webkit-scrollbar {
        width: 9px
      }
      /* Track */
      &::-webkit-scrollbar-track {
        background-color: #c4c4c4
        border: 4px solid transparent
        border-radius: 12px
        background-clip: content-box
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        width: 9px
        border-radius: 4px
        background-color: #c4c4c4
      }
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: darken(#c4c4c4, 25%)
      }

      li {
        direction: ltr;
        &:before {
          display: none
        }
      }
    }



    .ecp__divider {
      left: 0
    }

    & > input {
      position: static
      margin-bottom: 12px
      padding: 0 35px 0 13px
      max-width: 384px
      width: 100%
      height: 33px
      border-radius: 4px
      border: 1px solid #ababab
      opacity: 1
      color: #787878
      font-family: Calibri
      font-size: 18px
      font-weight: 400
      line-height: 28px
      background: url(/img/icon-search.png) no-repeat right center
      background-size: 19px
      background-position-x: 98%
    }
  }

  &__hint {
    position: absolute
    z-index: 4
    overflow: hidden
    transform: translateY(4px) translateX(-26px)
    /*width: 253px
    height: 121px*/
    width: 14px
    height: 14px
    border-radius: 100%
    cursor: default
    user-select: text;
    background: white
    font-size: 0 !important
    line-height: 0
    button {
      width: 14px
      height: 14px
      background: url(/img/icon-help.png) center no-repeat
      border-radius: 100%
      cursor: pointer
    }
    .hint__text {
      width: 100%
      height: 100%
      overflow: hidden
      font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
      font-size: 16px
      font-weight: 400
      line-height: 16px
      color: #545454
      background-color: green
      &:before {
        display: none
      }
    }
    &.active {
      z-index: 5
      transform: translateY(-5px) translateX(-33px)
      padding: 8px 11px 12px 11px
      width: 253px
      height: auto
      border: 1px solid #d6d6d6
      border-radius: 4px
      background-color: #fcf4c0
      button {
        transform: translateX(-5px)
        background-image: url(/img/icon-help-close.png)
      }
      .hint__text {
        background-color: #fcf4c0
      }
    }
  }
}

@media (max-width: 1700px) {
  .ecp {
    .fox__wrap {
      .content--fox {
        &:after {
          bottom: -80px
        }
        .fox {
          right: 9%
        }
      }
    }
  }
}

@media (max-width: 1470px) {
  .ecp {
    .fox__wrap {
      top: -200px
      .content--fox {
        height: 1000px
        &:after {
          bottom: -100px
        }
        .fox {
          right: 5%
        }
      }
    }
  }
}
@media (max-width: 1250px) {
  .ecp {
    .fox__wrap {
      .content--fox {
        .fox {
          right: 0
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .ecp {
    &__features {
      background: #ffffff
    }
    .fox__wrap {
      .content--fox {
        &:after {
          bottom: -180px
        }
      }
    }
  }
}

@media (max-width: 727px) {
  .ecp {
    &__form2 {
      ul {
        .checkbox--picture {
          &:last-child {
           label {
             .text {
               margin-top: 20px
             }
           }
          }
        }
      }
    }
    &__steps {
      .container > .title {
        margin-bottom: 0 !important
      }
      ul {
        flex-direction: column
        align-items: center
        background: none
        li {
          margin-bottom: 40px
          margin-right: 0
          //max-width: 100%
          .number {
            margin-bottom: 5px
            color: #545454
          }
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            //max-width: 100%
            .title {
              //max-width: 100%
            }
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
    .ecp {
      &__divider {
        width: 50px !important
      }
      &__form2 {
        a.font-red {
          margin: 10px 15px 7px 15px
        }
        p {
          margin: 19px 15px 0 15px
        }
      }
      &__level1 {
        margin: 0 15px 0 15px
      }
      &__stair {
        label {
          .price {
            &:before {
              content: ''
              position: absolute
              left: -480px
              top: 10px
              width: 480px
              height: 1px
              background-color: #cbcbcb
            }
          }
        }
      }
      &__level2,
      &__level3 {
        label {
          .price {
            &:before {
              width: 400px
              left: -400px
            }
          }
        }
      }
    }
}

@media (max-width: 670px) {
    .ecp {
      &__stair {
        label {
          display: block
          .forHint +.price {
            &:before {
              left: 0 !important
            }
          }
          .price {
            padding-left: 45px
            &:before {
              left: 10px
              top: 10px
              width: 25px
            }
          }
          .text {
            padding-right: 0
          }
        }
      }
      &__level2,
      &__level3 {
        label {
          .price {
            &:before {
              left: 10px
              top: 10px
              width: 25px
            }
          }
        }
      }
    }
}

@media (max-width: 630px) {
    .ecp {
      .fox__wrap {
        top: -150px
        .content--fox {
          &:after {
            bottom: -200px
          }
        }
      }
      &__features {
        flex-direction: column
        background: #ffffff
      }
      &__form1,
      &__form2 {
        .ecp__tel {
          margin-bottom: 150px
        }
        ul {
          .checkbox--picture {
            width: 33.3% !important
          }
        }
      }

      &__links {
        li {
          padding-left: 82px
          width: 100%
          &:before {
            width: 67px
          }
        }
      }
    }
}

@media (max-width: 560px) {
    .ecp {
      .fox__wrap {
        top: -50px
        .content--fox {
          &:after {
            bottom: -220px
          }
        }
      }

      &__tel {
        flex-direction: column
        min-height: 90px
        input {
          width: 100%
        }

      }
      &__map {
        .ecp__tel {
          height: 100px
          margin-top: 135px
          input {
            height: 45px
          }
          button {
            min-height: 65px
            line-height: 26px
          }
        }
      }
    }
}

@media (max-width: 450px) {
    .ecp {
      .fox__wrap {
        top: -45px
        .content--fox {
          .fox {
            bottom: 0
          }
          &:after {
            bottom: -250px
          }
        }
      }
    }
}
  
@media (max-width: 430px) {
    .ecp {
      &__title {
        font-size: 25px
        line-height: 30px
      }
      &__form1,
      &__form2 {
        ul {
          .checkbox--picture {
            width: 50% !important
          }
        }
      }
    }
}

@media (max-width: 380px) {
    .ecp {
      .fox__wrap {
        .content--fox {
          &:after {
            bottom: -270px
          }
          .fox {
            bottom: -40px
          }
        }
      }
    }
}
/*

@media (max-width: 355px) {
    .ecp {
      .fox__wrap {
        .content--fox {
          &:after {
            bottom: -280px
          }
        }
      }
    }
}*/
