/*INDEXPAGEFIRSTSCREEN BEGIN*/
.indexpagefirstscreen {
  margin-top: -135px
  padding-top: 225px
  min-height: 845px
  background: url(/img/bg-indexpagefirstscreen.jpg) center no-repeat


  .single-item {
    position: relative
    transform: translate(-140px)
    width: 1280px
    background-color: #c4d2e1
    &:before {
      content: ''
      position: absolute
      left: -10px
      right: -10px
      top: -10px
      bottom: -10px
      background: rgba(255, 255, 255, 0.5)
    }
    .item {
      width: 100%
      height: 510px
      &:nth-child(1) {
        background-color: #c4d2e1
      }
      &:nth-child(2) {
        background: #0f73b9
      }
      &:nth-child(3) {
        background: cornsilk
      }
      &:nth-child(4) {
        background: chocolate
      }
      &:nth-child(5) {
        background: darksalmon
      }
    }
    ul.slick-dots {
      position: absolute
      display: flex
      bottom: 0
      right: 0
      &:before {
        content: ''
        position: absolute
        right: 0
        bottom: 0
        width: 161px
        height: 37px
        background: #edf1f6
      }
      &:after {
        content: ''
        position: absolute
        right: 125px
        bottom: 0
        border-left: 37px solid transparent;
        border-right: 37px solid transparent;
        border-bottom: 37px solid #edf1f6;
      }
      li {
        position: relative
        z-index: 10
        margin: 13px 0px 13px 9px
        &:last-child {
          margin-right: 33px
        }
        &.slick-active {
          button {
            background-position: -36px 0
          }
        }
        button {
          width: 13px
          height: 13px
          background: url(/img/iconset-slider.png) -16px 0
          font-size: 0
          line-height: 0
        }
      }
    }
    .slick-next,
    .slick-prev {
      position: absolute
      z-index: 10
      bottom: 13px
      right: 142px
      width: 9px
      height: 13px
      background: url(/img/iconset-slider.png)

    }
    .slick-next {
      right: 15px
      transform: rotate(180deg)
    }
  }
}

.indexpagefirstscreen {
  .single-item-mob--js {
    display: none
  }
}

@media (max-width: 1320px) {
  .indexpagefirstscreen {
    .single-item {
      width: 100%
      transform: none
    }
  }
}

@media (max-width: 850px) {
  .indexpagefirstscreen {
    margin-top: -185px
    padding-top: 275px
    .single-item {
      .item {
        height: 420px
      }
    }
  }
}

@media (max-width: 730px) {
  .indexpagefirstscreen {
    margin-top: -200px
    padding-top: 290px
  }
}

@media (max-width: 450px) {
  .indexpagefirstscreen {
    margin-top: -255px
    padding-top:  345px
    .single-item-desk--js {
      display: none
    }
    .single-item-mob--js {
      display: block
    }
  }
}

@media (max-width: 430px) {
  .indexpagefirstscreen {
    margin-top: -345px
    padding-top:  380px
  }
}
/*INDEXPAGEFIRSTSCREEN END*/

/*MAINFIELDS BEGIN*/
.mainfield {
  position: relative
  margin-bottom: 130px
  padding-bottom: 85px
  background: #f8fbfd
  &:before {
    content: ''
    position: absolute
    z-index: 0
    bottom: 0
    left: -20px
    right: -20px
    height: 20px
    box-shadow: inset 0px -20px 10px -20px rgba(0,0,0,0.16);
  }
  h2 {
    margin: 0 0 105px 0
    padding-top: 75px
    text-align: center
    font-family: latobold
    font-size: 52px
    line-height: 60px
    color: #717171
    text-transform: uppercase
  }

  #tabs {
    box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
    background: #ffffff
    .tabs__title__wrap {
      position: relative
      &:before {
        content: ''
        position: absolute
        top: -41px
        right: 40px
        left: 40px
        height: 10px
        box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
      }
      &:after {
        content: ''
        position: absolute
        top: 0px
        width: 100%
        height: 100px
        background: #ffffff
      }
      .forshadow {
        position: absolute
        width: 100%
        height: 40px
        background: #ffffff
        &:before {
          content: ''
          position: absolute
          top: -26px
          right: 11px
          width: 50px
          height: 50px
          box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
          transform: rotate(45deg)
        }
        &:after {
          content: ''
          position: absolute
          top: -27px
          left: 16px
          width: 50px
          height: 50px
          box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
          transform: rotate(45deg)
        }
      }
    }
    .tabs__title {
      display: flex
      justify-content: space-between
      position: relative
      top: -41px
      min-height: 41px
      overflow: hidden
      li {
        position: relative
        display: flex
        justify-content: center
        align-items: center
        &:before {
          content: ''
          position: absolute
          z-index: 10
          left: -10px
          width: 150px
          height: 41px
          background: #ccc
        }
        &:after {
          content: ''
          position: absolute
          z-index: -10
          right: 3px
          width: 100px
          height: 400px
          background: black
          transform: rotate(-45deg)
          box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
        }
        &:nth-child(1) {
          a {
            z-index: 30
            padding: 5px 17px 0 45px
            &:before {
              left: 50px
              background-color: darkmagenta
            }
          }
          &:before {
            z-index: 30
            top: -24px !important
            left: 10px !important
            height: 100px !important
            transform: rotate(-45deg)
            background-color: darkmagenta
            box-shadow: none !important
          }
          &:after {
            z-index: 25
            width: 60px
            right: 0
            background-color: darkmagenta
          }
        }
        &:nth-child(2) {
          a {
            z-index: 22
            &:before {
              background-color: #7ac6df
            }
          }
          &:before {
            background-color: #7ac6df
          }
          &:after {
            z-index: 20
            background-color: #7ac6df
          }
        }

        &:nth-child(3) {
          a {
            z-index: 18
            &:before {
              background-color: #48a0bd
            }
          }
          &:before {
            background-color: #48a0bd
          }
          &:after {
            z-index: 16
            background-color: #48a0bd
          }
        }
        &:nth-child(4) {
          a {
            z-index: 14
            &:before {
              background-color: #42c0c5
            }
          }
          &:before {
            background-color: #42c0c5
          }
          &:after {
            z-index: 12
            right: -4px
            width: 50px
            background-color: #42c0c5
          }
        }
        &:nth-child(5) {
          a {
            z-index: 10
            padding: 5px 43px 0 39px

            &:before {
              left: -40px
              background-color: #14968e
            }
          }
          &:before {
            left: -70px
            background-color: #14968e
          }
          &:after {
            z-index: 2
            right: 40px
            background-color: #14968e
            box-shadow: none
          }
        }
        &.prev {
          &:after {
            right: -100px
            width: 140px
            box-shadow: none
            transform: none
          }
        }
        &.ui-tabs-active {
          &:nth-child(1) {
            &:before {
              top: 2px !important

            }
          }
          &:nth-child(4) {
            &:before {
              left: -20px
              width: 50px
            }
          }
          &:nth-child(5) {
            &:before {
              left: -20px
              width: 40px
            }
            &:after {

            }
            a:before {
              left: 30px
              width: 70px
            }
          }
          &:before,
          &:after {
            background: #ffffff
          }
          &:before {
            z-index: 100
            top: -145px
            width: 100px
            height: 400px
            transform: rotate(45deg)
            box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
          }
          a {
            z-index: 200
            color: #5d5d5d
            &:before {
              background: #ffffff
            }
          }
        }
        a {
          position: relative
          padding: 5px 24px 0 39px
          width: 100%
          height: 100%
          font-family: latoregular
          font-size: 22px
          color: #ffffff
          text-decoration: none
          &:before {
            content: ''
            position: absolute
            z-index: -1
            top: -5px
            left: 35px
            right: 35px
            max-width: 100%
            height: 120%
            background: #7ac6df
          }
        }
      }
    }
    .tabs__content {
      position: relative
      z-index: 100
      background: #ffffff
      & > div {
        padding: 0 0 40px 0
      }
      h3 {
        display: block
        width: 228px
        font-family: latoblack
        font-size: 25px
        line-height: 25px
        color: #6197a2
        letter-spacing: 0.3px
        span {
          font-family: inherit
          font-size: inherit
          line-height: inherit
        }
      }
      .divider.left.right {
        margin: 0
        margin-bottom: 30px
      }
      b {
        font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
        font-size: 16px
        font-weight: 600
        line-height: 26px
        color: #3a3a3a
      }
      p {
        font-family: Calibri
        font-size: 16px
        line-height: 20px
        color: #3a3a3a
        b {
          font-size: inherit
          line-height: inherit
        }
      }
      .divider {
        margin: 44px 0 44px 0

      }
      #tabs-1 {
        & > .flex_row__start {
          .left {
            img {
              margin-left: 5px
              margin-right: 20px
            }
          }
          .right {
            b {
              font-size: 18px
            }
            p {
              padding-right: 40px
            }
            .companylife {
              display: block
              margin-top: 18px
            }
          }
        }
        ul.features {
          li {
            margin: 0 10px 20px 10px
            padding-top: 70px
            width: 75px
            font-family: latoregular
            font-size: 16px
            line-height: 20px
            text-align: center
            color: #4373aa
            background: url(/img/iconset-features.jpg) no-repeat
            background-position: 12px 0
            &:nth-child(2) {
              background-position: -122px 0
            }
            &:nth-child(3) {
              background-position: -260px 0
            }
          }
        }
      }
    }
  }
}


.mainfield {
  min-height: 500px
  overflow: hidden
  h2 {
    position: relative
    z-index: 100
  }
  .fillers {
    position: absolute
    min-width: 1304px
  }
  .shape1,
  .shape2,
  .shape3,
  .circle1,
  .circle2 {
    position: absolute
    width: 300px
    height: 300px
    &:before,
    &:after {
      content: ''
      position: absolute
      width: 300px
      height: 300px
      background-repeat: no-repeat
    }

  }
  .shape1 {
    width: 100%
    height: 100%
    &:before {
      z-index: 1
      left: -40px
      top: 780px
      background-image: url("/img/shape1.png")
    }
    &:after {
      z-index: 1
      right: -375px
      top: 320px
      background-image: url("/img/shape1.png")
    }
  }
  .shape2 {
    width: 100%
    height: 100%
    &:before {
      z-index: 1
      transform translateX(750px)
      top: 440px
      background-image: url("/img/shape3.png")
    }
  }
  .shape3 {
    width: 100%
    height: 100%
    &:before {
      z-index: 1
      left: -500px
      top: 550px
      background-image: url("/img/shape2.png")
    }
    &:after {
      z-index: 1
      transform: translateX(1320px)
      top: 80px
      background-image: url("/img/shape2.png")
    }
  }
  .circle1 {
    &:before {
      top: -350px
      left: -262px
      width: 1530px
      height: 1530px
      border: 1px solid #e7eef3
      border-radius: 100%
    }
    &:after {
      top: -220px
      left: -135px
      width: 1260px
      height: 1260px
      border: 2px solid #e7eff3
      border-radius: 100%
    }
  }
  .circle2 {
    &:before {
      top: 155px
      margin-left: 145px
      width: 730px
      height: 544px
      border: 2px solid #e7eff3
      border-radius: 100%
    }
  }
}

@media (max-width: 1040px) {
  .mainfield {
    .fillers {
      .circle1,
      .circle2 {
        display: none
      }
    }
    h2 {
      margin-bottom:80px
    }
    #tabs {
      .tabs__title__wrap {
        .forshadow {
          &:before {
            top: -40px
            right: 0px
            transform: none
          }
        }
        &:after {
          height: 200px
        }
      }
      .tabs__title {
        flex-wrap wrap
        justify-content: flex-start
        li {
          display: flex !important
          justify-content center !important
          align-items center !important
          width: 50%
          min-height: 41px
          overflow: hidden
          &:before {
            z-index: 5
            height: 100px
          }
          &:not(:first-child) {
            &:before {
              width: 100px !important
              transform: none
            }
          }
          a {
            display: flex
            align-items center
            padding-top: 7px !important
            padding-right: 20px !important
            padding-bottom: 7px !important
          }
          &:after {
            z-index: 3 !important
            width: 200px!important
            height: 200px!important
          }
          &:last-child {
            &:after {
              top: -101px
            }
          }
        }
      }
    }
  }
}

@media (max-width: 970px) {
  .mainfield {
    margin-bottom: 85px
  }
}

@media (max-width: 770px) {
  .mainfield {
    #tabs-1 {
      & > .flex_row__start {
        flex-direction: column
        .left {
          img {
            margin-left: 0 !important
            margin-bottom: 10px
          }
        }
        .right {
          p {
            padding-right: 0 !important
          }
        }
      }
      ul.features {
        flex-wrap: wrap
        li {

        }
      }
    }
  }
}

@media (max-width: 580px) {
  .mainfield {
    h2 {
      padding-top: 60px
      font-size: 35px !important
      line-height: 45px
    }
    #tabs {
      .tabs__title {
        li {
          width: 100%
        }
      }
    }
  }
}



.mainfield {
  .tabs__content {
    overflow: hidden
    & > div {
      padding-left: 35px !important
      padding-right: 35px !important
      .divider {
        margin-left: -80px !important
        width: 200%
      }
    }
  }
  .divider2.right.left {
    overflow: visible
  }

  h3 {
    display: inline-block
    width: auto !important
    max-width: 100%
    text-align: center
  }
  .divider2.right.left {
    margin-bottom: 28px
  }
  .tabs__content {
    h3 {
      margin: 0 auto
    }
    & > div > h3 {
      margin-bottom: 28px
    }
    #tabs-2 {
      padding-bottom: 0 !important
      #tabs-ver-2 {
        .table1 {
          margin-bottom: 18px
          width: 90%
          tr:nth-child(1) {
            td {
              text-align: center
              padding-left: 15px
              b {
                text-decoration: underline
              }
            }
          }
          td {
            padding-left: 30px
            ul {
              margin: 10px 0 13px 0
              li {
                margin: 9px 0 9px 0
              }
            }
            img {
              margin: 0 30px 0 0
            }
          }
        }
      }
    }
  }
  .header__catalog {
    margin-top: -10px
    .content {
      position: static
      display: flex
      flex-wrap wrap
      padding-top: 0
      width: 100%
      &:before,
      &:after {
        display: none
      }
      ul {
        margin-right: 50px
      }
    }
  }

  img {
    max-width: none !important
  }
  #tabs-2 {
    padding-left: 0 !important
    padding-right: 0 !important


  }
  #tabs-4 {
    & > .flex_row__start {
      img {
        margin-top: -20px
      }
    }
  }
  #tabs-4,
  #tabs-5 {
    & > .flex_row__start {
      img {
        margin-right: 20px
      }
    }
    .list--checked + .btn3 {
      margin-top: 13px
      margin-left: 24px
    }
  }

}

@media (max-width: 850px) {
  .mainfield {
    .tabs__content {
      & > div {
        padding-left: 20px !important
        padding-right: 20px !important
      }
    }
  }
}
  
@media (max-width: 710px) {
    .mainfield {
      .tabs__content {
        #tabs-2 {
          padding-bottom: 0 !important
          #tabs-ver-2 {
            .table1 {
              width: 100%
            }
          }
        }
      }

      #tabs-4,
      #tabs-5 {
        & > .flex_row__start {
          display: block
          & > div {
            float: left
          }
        }
      }
    }
}
  
@media (max-width: 550px) {
  .mainfield {
    .header__catalog .content {
      padding: 0
      border: none
      ul {
        margin-right: 0
      }
    }
    #tabs-4,
    #tabs-5 {
      & > .flex_row__start {
        display: flex
        flex-direction: column
        & > div {
          float: none

          margin-bottom: 10px
          img {
            margin-top: 0
            margin-right: 0
            max-width: 100% !important
          }
        }
      }
    }
  }
}
/*MAINFIELDS END*/

/*feedback begin*/
.feedback {
  margin-bottom: 146px
  form {
    margin-right: 50px
    &:before {
      content: ''
      position: absolute
      z-index -1
      left: -6px
      right: -6px
      top: -6px
      bottom: -6px
      background-image: linear-gradient(to bottom, #5ab6e8 0%, #00c6b5 100%)
    }
    button {
      margin-top: 10px
      margin-bottom: -25px
      padding-right: 35px
      width: 223px
      height: 50px
      font-family: latobold
      font-size: 18px
      color: #fefefe
      background: url(/img/icon-submit.png)
    }
  }
  .right {
    .logo {
      img {
        min-width: 150px
        height: 68px
      }
    }
    .features {
      margin-top: 30px
      margin-bottom: 30px
      ul {
        margin-right: 20px
        &:last-child {
          margin-right: 0
        }
        li {
          position: relative
          padding-left: 30px
          margin-bottom: 15px
          &:before {
            content: ''
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: 0
            width: 19px
            height: 19px
            border: 2px solid #f46163
            border-radius: 100px
          }
          &:after {
            content: ''
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: 7px
            width: 9px
            height: 9px
            background: #2a6bb0
            border-radius: 100px
          }
        }
      }
    }
    .links {
      padding: 14px 0 14px 0
      a {
        position: relative
        margin-right: 35px
        padding-left: 35px
        &:before {
          content: ''
          position: absolute
          left: 0
          width: 25px
          height: 25px
          background: url(/img/iconset-links.jpg) no-repeat 3px 0
        }
        &:nth-child(2) {
          &:before {
            background-position: -160px 0
          }
        }
        &:nth-child(3) {
          &:before {
            background-position: -399px 0
          }
        }
      }
    }
  }
}

@media (max-width: 970px) {
  .feedback {
    margin-bottom: 85px
    .container > .flex_row__between {
      flex-direction: column
      align-items: center
    }
    form {
      margin-right: 0
    }
    .right {
      margin-top: 35px
    }
    .features {
      justify-content: space-around
    }
    .links {
      display: flex
      flex-wrap: wrap
      justify-content: center
      a {
        margin-top: 8px
        margin-bottom: 8px
      }
    }
  }
}

@media (max-width: 480px) {
  .feedback {
    .features {
      flex-direction: column
      ul {
        margin-right: 0
      }
    }
    .links {
      justify-content: flex-start
    }
  }
}
/*FEEDBACK END*/







