/*INNDERPAGE BEGIN*/
.innerPage {

  &__menu {
    margin-right: 7%//81px
    li {
      position: relative
      margin-bottom: 24px
      min-width: 212px
      height: 143px
      background: url(/img/bg-innermenu1.jpg)
      background-size: cover !important
      a {
        display: block
        position: relative
        width: 100%
        height: 100%
        span {
          position: absolute
          left: 15px
          bottom: 8px
          font-family: latoblack
          font-size: 16px
          font-weight: 400
          color: #ffffff
        }
        &:before {
          content: ''
          position: absolute
          left: 0
          bottom: 0
          width: 100%
          height: 33px
          background: rgba(0, 0, 0, 0.4)
        }
        &:hover {
          &:before {
            background: rgba(0, 0, 0, 0.5)
          }
        }
      }
      &.current {
        a {
          &:before {
            background: #9d1414
            opacity: 0.4
          }
        }
      }
      &:nth-child(2) {
        background: url(/img/bg-innermenu2.jpg)
      }
      &:nth-child(3) {
        background: url(/img/bg-innermenu3.jpg)
      }
      &:nth-child(4) {
        background: url(/img/bg-innermenu4.jpg)
      }

    }
  }

}

@media (max-width: 1050px) {
    .innerPage {
      &__wrap {
        & > .container.flex_row__start {
          flex-direction: column
        }
      }
      &__menu {
        display: flex
        flex-wrap: wrap
        margin-bottom: 30px
        margin-right: 0
        li {
          margin-right: 2.2%
          &:last-child {
            margin-right: 0
          }
        }
      }
    }
}

@media (max-width: 950px) {
  .innerPage {
    &__menu {
      display: flex
      li {
        margin-right: 2.2%
        &:last-child {
          margin-right: 0
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .innerPage {
    &__menu {
      justify-content: space-between
      li {
        margin-right: 0
        width: 48%
      }
    }
  }
}

@media (max-width: 470px) {
  .innerPage {
    &__menu {
      li {
        width: 100%
      }
    }
  }
}
/*INNDERPAGE BEGIN*/










